#navigation {
  position: fixed;
  width: 100%;
  background-color: #F2F4F7;
  z-index: 9999999;
  height: 91px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1); }

.logoCol {
  margin-bottom: 40px; }

ul.navList {
  z-index: 99999;
  padding-top: 30px;
  text-align: center; }
  ul.navList li.page-scroll {
    display: inline;
    padding-left: 30px; }
    ul.navList li.page-scroll a {
      text-decoration: none;
      color: #666666;
      font-size: 20px;
      font-family: "Shadows Into Light", cursive;
      border-bottom: 2px solid rgba(106, 44, 180, 0); }
      ul.navList li.page-scroll a:focus {
        outline: none; }
      ul.navList li.page-scroll a.active {
        border-bottom: 2px solid #6a2cb4;
        transition: border 2000ms ease; }

li.page-scroll img {
  width: 52px;
  margin-left: 50px; }
  li.page-scroll img:hover {
    transform: scale(1.7);
    transition: 500ms ease; }

ul.navList li.page-scroll:nth-child(5) a {
  border-bottom: hidden; }
  ul.navList li.page-scroll:nth-child(5) a:hover {
    border-bottom: hidden; }

.scrollLine {
  opacity: 0;
  border-bottom: 2px solid #6a2cb4;
  transition: border 2000ms ease; }

.scrollLineA {
  opacity: 0;
  border-bottom: 2px solid #6a2cb4;
  transition: border 2000ms ease; }

.scrollLineB {
  opacity: 0;
  border-bottom: 2px solid #6a2cb4;
  transition: border 2000ms ease; }

.scrollLineC {
  opacity: 0;
  border-bottom: 2px solid #6a2cb4;
  transition: border 2000ms ease; }

#work .work {
  opacity: 0;
  margin-top: 130px; }

h1.workIntro {
  color: #6A2CB4;
  font-family: "Shadows Into Light", cursive;
  font-size: 35px;
  margin-top: 44px; }

li img.park, .marvel, .tee, .bob {
  width: 609px; }

li.appSkills {
  display: inline-block; }
  li.appSkills h5 {
    font-family: "Shadows Into Light", cursive;
    font-size: 18px;
    color: #6A2CB4;
    border: 4px solid #666666;
    border-radius: 22px;
    padding: 6px;
    margin-top: 5px;
    margin-bottom: 5px; }

.arrowView {
  text-align: center; }

h2.appAbout, .appUsed, .viewApp {
  font-size: 30px;
  font-family: "Shadows Into Light", cursive;
  color: #6A2CB4; }

a.appLink {
  font-family: "Shadows Into Light", cursive;
  color: #666666;
  text-decoration: none; }

.appLink h6 {
  font-size: 20px;
  text-align: center; }
  .appLink h6:hover {
    color: #6a2cb4;
    transition: color 800ms ease; }

p.appInfo {
  font-size: 18px;
  font-family: "Shadows Into Light", cursive;
  color: #666666;
  margin-left: 34px;
  margin-right: 34px; }

.arrowAbout li {
  display: inline-block; }

.arrowUsed li {
  display: inline-block; }

.arrowView li {
  display: inline-block; }

@-webkit-keyframes smallWorkFade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-moz-keyframes smallWorkFade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes smallWorkFade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.smallWorkAnimation {
  opacity: 0;
  -webkit-animation: smallWorkFade ease-in 1;
  -moz-animation: smallWorkFade ease-in 1;
  animation: smallWorkFade ease-in 1;
  -webkit-animation-duration: .25s;
  -moz-animation-duration: .25s;
  animation-duration: .25s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-delay: 2s;
  -moz-animation-delay: 2s;
  animation-delay: 2s; }

@-webkit-keyframes medWorkFade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-moz-keyframes medWorkFade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes medWorkFade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.medWorkAnimation {
  opacity: 0;
  -webkit-animation: medWorkFade ease-in 1;
  -moz-animation: medWorkFade ease-in 1;
  animation: medWorkFade ease-in 1;
  -webkit-animation-duration: .5s;
  -moz-animation-duration: .5s;
  animation-duration: .5s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-delay: 3s;
  -moz-animation-delat: 3s;
  animation-delay: 3s; }

@-webkit-keyframes lgWorkFade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-moz-keyframes lgWorkFade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes lgWorkFade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.workBubbleAnimation {
  opacity: 0;
  -webkit-animation: lgWorkFade ease-in 1;
  -moz-animation: lgWorkFade ease-in 1;
  animation: lgWorkFade ease-in 1;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-delay: 4s;
  -moz-animation-delay: 4s;
  animation-delay: 4s; }

#skills .skills {
  opacity: 0;
  margin-top: 130px; }

h1.skillsIntro {
  color: #6A2CB4;
  font-family: "Shadows Into Light", cursive;
  font-size: 45px;
  margin-top: 30px; }

ul.technicalList {
  margin-top: 17px;
  text-align: left; }
  ul.technicalList li.technicalItem {
    display: block;
    font-family: "Shadows Into Light", cursive;
    color: #6A2CB4;
    font-size: 21px;
    margin-top: 15px; }

ul.rateList {
  margin-top: 17px; }
  ul.rateList li.rateItem {
    display: block;
    color: #6A2CB4;
    font-size: 21px;
    margin-top: 15px; }

.rateItem i {
  text-shadow: 2px 2px #888; }

.fadeRateAnimation {
  opacity: 0;
  -webkit-animation: rateFade ease-in 1;
  -moz-animation: rateFade ease-in 1;
  animation: rateFade ease-in 1;
  -webkit-animation-duration: .25s;
  -moz-animation-duration: .25s;
  animation-duration: .25s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-delay: 2.5s;
  -moz-animation-delay: 2.5s;
  animation-delay: 2.5s; }

@-webkit-keyframes rateFade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-moz-keyframes rateFade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes rateFade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.rateSlideAnimation {
  -webkit-animation-name: slideDown;
  -moz-animation-name: slideDown;
  animation-name: slideDown;
  -webkit-animation-duration: 8s;
  -moz-animation-duration: 8s;
  animation-duration: 8s;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  animation-delay: 1s;
  -webkit-animation-iteration-count: 1;
  -moz-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards; }

@-webkit-keyframes slideDown {
  0% {
    padding-top: 8px; }
  25% {
    padding-top: 48px; }
  50% {
    padding-top: 168px; }
  75% {
    padding-top: 224px; }
  100% {
    padding-top: 300px; } }

@-moz-keyframes slideDown {
  0% {
    padding-top: 8px; }
  25% {
    padding-top: 48px; }
  50% {
    padding-top: 168px; }
  75% {
    padding-top: 224px; }
  100% {
    padding-top: 300px; } }

@keyframes slideDown {
  0% {
    padding-top: 8px; }
  25% {
    padding-top: 48px; }
  50% {
    padding-top: 168px; }
  75% {
    padding-top: 224px; }
  100% {
    padding-top: 300px; } }

@-webkit-keyframes smallSkillsFade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-moz-keyframes smallSkillsFade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes smallSkillsFade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.smallSkillsAnimation {
  opacity: 0;
  -webkit-animation: smallSkillsFade ease-in 1;
  -moz-animation: smallSkillsFade ease-in 1;
  animation: smallSkillsFade ease-in 1;
  -webkit-animation-duration: .25s;
  -moz-animation-duration: .25s;
  animation-duration: .25s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-delay: .5s;
  -moz-animation-delay: .5s;
  animation-delay: .5s; }

@-webkit-keyframes medSkillsFade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-moz-keyframes medSkillsFade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes medSkillsFade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.medSkillsAnimation {
  opacity: 0;
  -webkit-animation: medSkillsFade ease-in 1;
  -moz-animation: medSkillsFade ease-in 1;
  animation: medSkillsFade ease-in 1;
  -webkit-animation-duration: .25s;
  -moz-animation-duration: .25s;
  animation-duration: .25s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-delay: 1s;
  -moz-animation-delat: 1s;
  animation-delay: 1s; }

@-webkit-keyframes lgSkillsFade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-moz-keyframes lgSkillsFade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes lgSkillsFade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.skillsBubbleAnimation {
  opacity: 0;
  -webkit-animation: lgSkillsFade ease-in 1;
  -moz-animation: lgSkillsFade ease-in 1;
  animation: lgSkillsFade ease-in 1;
  -webkit-animation-duration: .5s;
  -moz-animation-duration: .5s;
  animation-duration: .5s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-delay: 1.5s;
  -moz-animation-delay: 1.5s;
  animation-delay: 1.5s; }

#about .about {
  opacity: 0; }

.about {
  margin-top: 130px; }

h1.aboutIntro {
  color: #6A2CB4;
  text-align: center;
  font-family: "Shadows Into Light", cursive;
  font-size: 20px;
  margin-top: -4px;
  padding: 25px; }

.meAnimation {
  opacity: 0;
  -webkit-animation: fadeMeIn ease-in 1;
  -moz-animation: fadeMeIn ease-in 1;
  animation: fadeMeIn ease-in 1;
  -webkit-animation-duration: .25s;
  -moz-animation-duration: .25s;
  animation-duration: .25s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards; }

@-webkit-keyframes fadeMeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-moz-keyframes fadeMeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fadeMeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-webkit-keyframes smallAboutFade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-moz-keyframes smallAboutFade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes smallAboutFade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.smallAboutAnimation {
  opacity: 0;
  -webkit-animation: smallAboutFade ease-in 1;
  -moz-animation: smallAboutFade ease-in 1;
  animation: smallAboutFade ease-in 1;
  -webkit-animation-duration: .25s;
  -moz-animation-duration: .25s;
  animation-duration: .25s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-delay: .5s;
  -moz-animation-delay: .5s;
  animation-delay: .5s; }

@-webkit-keyframes medAboutFade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-moz-keyframes medAboutFade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes medAboutFade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.medAboutAnimation {
  opacity: 0;
  -webkit-animation: medAboutFade ease-in 1;
  -moz-animation: medAboutFade ease-in 1;
  animation: medAboutFade ease-in 1;
  -webkit-animation-duration: .25s;
  -moz-animation-duration: .25s;
  animation-duration: .25s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-delay: .75s;
  -moz-animation-delat: .75s;
  animation-delay: .75s; }

@-webkit-keyframes lgAboutFade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-moz-keyframes lgAboutFade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes lgAboutFade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.aboutBubbleAnimation {
  opacity: 0;
  -webkit-animation: lgAboutFade ease-in 1;
  -moz-animation: lgAboutFade ease-in 1;
  animation: lgAboutFade ease-in 1;
  -webkit-animation-duration: .5s;
  -moz-animation-duration: .5s;
  animation-duration: .5s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  animation-delay: 1s; }

#contact .contact {
  opacity: 0;
  margin-top: 130px; }

h1.contactIntro {
  color: #6A2CB4;
  font-family: "Shadows Into Light", cursive;
  font-size: 45px;
  margin-top: 20px; }

.contactLinks {
  margin: 0 auto;
  display: block;
  width: 300px; }

ul.contactList {
  margin-top: 15px; }
  ul.contactList li {
    display: inline-block; }

.emailItem, .phoneItem {
  margin-top: 15px;
  text-align: center;
  font-family: "Shadows Into Light", cursive;
  font-size: 30px; }
  .emailItem a, .phoneItem a {
    text-decoration: none;
    color: #666666; }
    .emailItem a:focus, .phoneItem a:focus {
      outline: none; }
    .emailItem a:hover, .phoneItem a:hover {
      color: #6a2cb4;
      transition: color 800ms ease; }

.emailItem {
  margin-top: 0px; }

.contactList img:hover {
  transform: scale(1.2);
  transition: 500ms ease; }

.contactItemsAnimation {
  opacity: 0;
  -webkit-animation: contactItemsFade ease 1;
  -moz-animation: contactItemsFade ease 1;
  animation: contactItemsFade ease 1;
  -webkit-animation-duration: .5s;
  -moz-animation-duration: .5s;
  animation-duration: .5s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-delay: 3.25s;
  -moz-animation-delay: 3.25s;
  animation-delay: 3.25s; }

@-webkit-keyframes contactItemsFade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-moz-keyframes contactItemsFade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes contactItemsFade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-webkit-keyframes smallContactFade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-moz-keyframes smallContactFade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes smallContactFade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.smallContactAnimation {
  opacity: 0;
  -webkit-animation: smallContactFade ease-in 1;
  -moz-animation: smallContactFade ease-in 1;
  animation: smallContactFade ease-in 1;
  -webkit-animation-duration: .25s;
  -moz-animation-duration: .25s;
  animation-duration: .25s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-delay: 2.5s;
  -moz-animation-delay: 2.5s;
  animation-delay: 2.5s; }

@-webkit-keyframes medContactFade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-moz-keyframes medContactFade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes medContactFade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.medContactAnimation {
  opacity: 0;
  -webkit-animation: medContactFade ease-in 1;
  -moz-animation: medContactFade ease-in 1;
  animation: medContactFade ease-in 1;
  -webkit-animation-duration: .25s;
  -moz-animation-duration: .25s;
  animation-duration: .25s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-delay: 2.75s;
  -moz-animation-delat: 2.75s;
  animation-delay: 2.75s; }

@-webkit-keyframes lgContactFade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-moz-keyframes lgContactFade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes lgContactFade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.contactBubbleAnimation {
  opacity: 0;
  -webkit-animation: lgContactFade ease-in 1;
  -moz-animation: lgContactFade ease-in 1;
  animation: lgContactFade ease-in 1;
  -webkit-animation-duration: .25s;
  -moz-animation-duration: .25s;
  animation-duration: .25s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-delay: 3s;
  -moz-animation-delay: 3s;
  animation-delay: 3s; }

.animationFadeTwo {
  opacity: 0;
  -webkit-animation: appear ease-in 1;
  -moz-animation: appear ease-in 1;
  animation: appear ease-in 1;
  -webkit-animation-duration: .5s;
  -moz-animation-duration: .5s;
  animation-duration: .5s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards; }

@-webkit-keyframes appear {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-moz-keyframes appear {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes appear {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.animationSlideLeft {
  -webkit-animation-name: slideLeft;
  -moz-animation-name: slideLeft;
  animation-name: slideLeft;
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-delay: .5s;
  -moz-animation-delat: .5s;
  animation-delay: .5s;
  -webkit-animation-iteration-count: 1;
  -moz-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards; }

@-webkit-keyframes slideLeft {
  0% {
    float: right;
    opacity: 1; }
  100% {
    margin: 0 auto;
    margin-right: 45%;
    opacity: 1; } }

@-moz-keyframes slideLeft {
  0% {
    float: right;
    opacity: 1; }
  100% {
    margin-right: 45%;
    margin: 0 auto;
    opacity: 1; } }

@keyframes slideLeft {
  0% {
    float: right;
    opacity: 1; }
  100% {
    margin: 0 auto;
    margin-right: 45%;
    opacity: 1; } }

.helloBubble {
  position: relative;
  width: 453px;
  height: 261px;
  text-align: center;
  line-height: 100px;
  background-color: #fff;
  border: 8px solid #666;
  -webkit-border-radius: 145px;
  -moz-border-radius: 145px;
  border-radius: 145px;
  -webkit-box-shadow: 2px 2px 4px #888;
  -moz-box-shadow: 2px 2px 4px #888;
  box-shadow: 2px 2px 4px #888;
  margin-left: 35%;
  margin-top: 30px; }

.medHello {
  content: ' ';
  margin-left: 39%;
  margin-top: -45px;
  width: 88px;
  height: 88px;
  background-color: #fff;
  border: 8px solid #666;
  -webkit-border-radius: 58px;
  -moz-border-radius: 58px;
  border-radius: 58px;
  position: absolute; }

.smallHello {
  background-color: #fff;
  border: 8px solid #666;
  width: 52px;
  height: 52px;
  margin-left: 42%;
  margin-top: 15px;
  -webkit-border-radius: 58px;
  -moz-border-radius: 58px;
  border-radius: 58px;
  position: absolute; }

.workBubble {
  position: relative;
  width: 299px;
  height: 152px;
  text-align: center;
  line-height: 100px;
  background-color: #fff;
  border: 8px solid #666;
  -webkit-border-radius: 145px;
  -moz-border-radius: 145px;
  border-radius: 145px;
  -webkit-box-shadow: 2px 2px 4px #888;
  -moz-box-shadow: 2px 2px 4px #888;
  box-shadow: 2px 2px 4px #888;
  float: right;
  margin-right: 26%;
  margin-top: 98px;
  margin-bottom: 40px; }

.medWork {
  content: ' ';
  margin-left: 48%;
  margin-top: 212px;
  width: 67px;
  height: 67px;
  background-color: #fff;
  border: 8px solid #666;
  -webkit-border-radius: 58px;
  -moz-border-radius: 58px;
  border-radius: 58px;
  position: absolute; }

.smallWork {
  background-color: #fff;
  border: 8px solid #666;
  width: 47px;
  height: 47px;
  margin-left: 44%;
  margin-top: 243px;
  -webkit-border-radius: 58px;
  -moz-border-radius: 58px;
  border-radius: 58px;
  position: absolute; }

.aboutBubble {
  position: relative;
  width: 468px;
  height: 265px;
  text-align: center;
  line-height: 100px;
  background-color: #fff;
  border: 8px solid #666;
  -webkit-border-radius: 145px;
  -moz-border-radius: 145px;
  border-radius: 145px;
  -webkit-box-shadow: 2px 2px 4px #888;
  -moz-box-shadow: 2px 2px 4px #888;
  box-shadow: 2px 2px 4px #888;
  margin-left: 144px;
  margin-top: 98px; }

.medAbout {
  content: ' ';
  margin-left: 494px;
  margin-top: -55px;
  width: 110px;
  height: 110px;
  background-color: #fff;
  border: 8px solid #666;
  -webkit-border-radius: 58px;
  -moz-border-radius: 58px;
  border-radius: 58px;
  position: absolute; }

.smallAbout {
  background-color: #fff;
  border: 8px solid #666;
  width: 60px;
  height: 60px;
  margin-left: 633px;
  margin-top: 56px;
  -webkit-border-radius: 58px;
  -moz-border-radius: 58px;
  border-radius: 58px;
  position: absolute; }

.skillsBubble {
  position: relative;
  width: 250px;
  height: 154px;
  text-align: center;
  line-height: 100px;
  background-color: #fff;
  border: 8px solid #666;
  -webkit-border-radius: 145px;
  -moz-border-radius: 145px;
  border-radius: 145px;
  -webkit-box-shadow: 2px 2px 4px #888;
  -moz-box-shadow: 2px 2px 4px #888;
  box-shadow: 2px 2px 4px #888;
  margin-left: 59%;
  margin-bottom: 40px;
  margin-top: 98px; }

.medSkills {
  content: ' ';
  margin-left: 700px;
  margin-top: 207px;
  width: 66px;
  height: 66px;
  background-color: #fff;
  border: 8px solid #666;
  -webkit-border-radius: 58px;
  -moz-border-radius: 58px;
  border-radius: 58px;
  position: absolute; }

.smallSkills {
  background-color: #fff;
  border: 8px solid #666;
  width: 36px;
  height: 36px;
  margin-left: 686px;
  margin-top: 243px;
  -webkit-border-radius: 58px;
  -moz-border-radius: 58px;
  border-radius: 58px;
  position: absolute; }

.contactBubble {
  margin-top: 30px;
  margin-bottom: 30px;
  position: relative;
  width: 262px;
  height: 174px;
  text-align: center;
  line-height: 100px;
  background-color: #fff;
  border: 8px solid #666;
  -webkit-border-radius: 145px;
  -moz-border-radius: 145px;
  border-radius: 145px;
  -webkit-box-shadow: 2px 2px 4px #888;
  -moz-box-shadow: 2px 2px 4px #888;
  box-shadow: 2px 2px 4px #888;
  margin-left: 162px; }

.medContact {
  content: ' ';
  margin-left: 405px;
  margin-top: -66px;
  width: 68px;
  height: 68px;
  background-color: #fff;
  border: 8px solid #666;
  -webkit-border-radius: 58px;
  -moz-border-radius: 58px;
  border-radius: 58px;
  position: absolute; }

.smallContact {
  background-color: #fff;
  border: 8px solid #666;
  width: 44px;
  height: 44px;
  margin-left: 485px;
  margin-top: -20px;
  -webkit-border-radius: 58px;
  -moz-border-radius: 58px;
  border-radius: 58px;
  position: absolute; }

img.logo {
  width: 150px;
  padding: 10px;
  margin: 0 auto;
  display: block; }
  img.logo:hover {
    transform: scale(1.2);
    transition: 500ms ease; }

a:focus {
  outline: none; }

li img {
  margin: 0 auto;
  width: 71px;
  padding: 10px; }

img#me {
  width: 263px;
  float: right;
  margin-right: 156px;
  margin-top: 90px; }

img#meHello {
  width: 146px;
  -ms-transform: rotate(180deg);
  /* IE 9 */
  -webkit-transform: rotate(180deg);
  /* Chrome, Safari, Opera */
  transform: rotate(180deg);
  margin-top: 68px;
  margin-left: 30px; }

img#meWork {
  -ms-transform: rotate(90deg);
  /* IE 9 */
  -webkit-transform: rotate(90deg);
  /* Chrome, Safari, Opera */
  transform: rotate(90deg);
  width: 100px;
  margin-top: 226px; }

img#meContact {
  width: 125px;
  float: right; }

img#meSkills {
  margin-top: 8px;
  width: 55px;
  float: right; }

img.aboutOne {
  width: 60px;
  padding: 0px;
  padding-top: 5px; }

img.usedOne {
  width: 45px;
  padding: 0px; }

img.tee {
  width: 612px; }

img.view {
  padding: 0px;
  width: 43px;
  margin-top: 18px; }

.skillsListAnimation {
  opacity: 0;
  -webkit-animation: listSkillsFade ease 1;
  -moz-animation: listSkillsFade ease 1;
  animation: listSkillsFade ease 1;
  -webkit-animation-duration: .5s;
  -moz-animation-duration: .5s;
  animation-duration: .5s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-delay: 2s;
  -moz-animation-delay: 2s;
  animation-delay: 2s; }

@-webkit-keyframes listSkillsFade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-moz-keyframes listSkillsFade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes listSkillsFade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.htmlOneAnimation {
  opacity: 0;
  -webkit-animation: htmlOneFade ease 1;
  -moz-animation: htmlOneFade ease 1;
  animation: htmlOneFade ease 1;
  -webkit-animation-duration: .1s;
  -moz-animation-duration: .1s;
  animation-duration: .1s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-delay: 3s;
  -moz-animation-delay: 3s;
  animation-delay: 3s; }

@-webkit-keyframes htmlOneFade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-moz-keyframes htmlOneFade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes htmlOneFade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.htmlTwoAnimation {
  opacity: 0;
  -webkit-animation: htmlTwoFade ease 1;
  -moz-animation: htmlTwoFade ease 1;
  animation: htmlTwoFade ease 1;
  -webkit-animation-duration: .1s;
  -moz-animation-duration: .1s;
  animation-duration: .1s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-delay: 3.25s;
  -moz-animation-delay: 3.25s;
  animation-delay: 3.25s; }

@-webkit-keyframes htmlTwoFade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-moz-keyframes htmlTwoFade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes htmlTwoFade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.htmlThreeAnimation {
  opacity: 0;
  -webkit-animation: htmlThreeFade ease 1;
  -moz-animation: htmlThreeFade ease 1;
  animation: htmlThreeFade ease 1;
  -webkit-animation-duration: .1s;
  -moz-animation-duration: .1s;
  animation-duration: .1s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-delay: 3.5s;
  -moz-animation-delay: 3.5s;
  animation-delay: 3.5s; }

@-webkit-keyframes htmlThreeFade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-moz-keyframes htmlThreeFade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes htmlThreeFade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.htmlFourAnimation {
  opacity: 0;
  -webkit-animation: htmlFourFade ease 1;
  -moz-animation: htmlFourFade ease 1;
  animation: htmlFourFade ease 1;
  -webkit-animation-duration: .1s;
  -moz-animation-duration: .1s;
  animation-duration: .1s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-delay: 3.75s;
  -moz-animation-delay: 3.75s;
  animation-delay: 3.75s; }

@-webkit-keyframes htmlFourFade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-moz-keyframes htmlFourFade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes htmlFourFade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.htmlFiveAnimation {
  opacity: 0;
  -webkit-animation: htmlFiveFade ease 1;
  -moz-animation: htmlFiveFade ease 1;
  animation: htmlFiveFade ease 1;
  -webkit-animation-duration: .1s;
  -moz-animation-duration: .1s;
  animation-duration: .1s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-delay: 4s;
  -moz-animation-delay: 4s;
  animation-delay: 4s; }

@-webkit-keyframes htmlFiveFade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-moz-keyframes htmlFiveFade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes htmlFiveFade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.cssOneAnimation {
  opacity: 0;
  -webkit-animation: cssOneFade ease 1;
  -moz-animation: cssOneFade ease 1;
  animation: cssOneFade ease 1;
  -webkit-animation-duration: .1s;
  -moz-animation-duration: .1s;
  animation-duration: .1s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-delay: 4.5s;
  -moz-animation-delay: 4.5s;
  animation-delay: 4.5s; }

@-webkit-keyframes cssOneFade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-moz-keyframes cssOneFade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes cssOneFade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.cssTwoAnimation {
  opacity: 0;
  -webkit-animation: cssTwoFade ease 1;
  -moz-animation: cssTwoFade ease 1;
  animation: cssTwoFade ease 1;
  -webkit-animation-duration: .1s;
  -moz-animation-duration: .1s;
  animation-duration: .1s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-delay: 4.75s;
  -moz-animation-delay: 4.75s;
  animation-delay: 4.75s; }

@-webkit-keyframes cssTwoFade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-moz-keyframes cssTwoFade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes cssTwoFade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.cssThreeAnimation {
  opacity: 0;
  -webkit-animation: cssThreeFade ease 1;
  -moz-animation: cssThreeFade ease 1;
  animation: cssThreeFade ease 1;
  -webkit-animation-duration: .1s;
  -moz-animation-duration: .1s;
  animation-duration: .1s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-delay: 5s;
  -moz-animation-delay: 5s;
  animation-delay: 5s; }

@-webkit-keyframes cssThreeFade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-moz-keyframes cssThreeFade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes cssThreeFade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.cssFourAnimation {
  opacity: 0;
  -webkit-animation: cssFourFade ease 1;
  -moz-animation: cssFourFade ease 1;
  animation: cssFourFade ease 1;
  -webkit-animation-duration: .1s;
  -moz-animation-duration: .1s;
  animation-duration: .1s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-delay: 5.25s;
  -moz-animation-delay: 5.25s;
  animation-delay: 5.25s; }

@-webkit-keyframes cssFourFade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-moz-keyframes cssFourFade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes cssFourFade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.cssFiveAnimation {
  opacity: 0;
  -webkit-animation: cssFiveFade ease 1;
  -moz-animation: cssFiveFade ease 1;
  animation: cssFiveFade ease 1;
  -webkit-animation-duration: .1s;
  -moz-animation-duration: .1s;
  animation-duration: .1s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-delay: 5.5s;
  -moz-animation-delay: 5.5s;
  animation-delay: 5.5s; }

@-webkit-keyframes cssFiveFade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-moz-keyframes cssFiveFade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes cssFiveFade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.javaOneAnimation {
  opacity: 0;
  -webkit-animation: javaOneFade ease 1;
  -moz-animation: javaOneFade ease 1;
  animation: javaOneFade ease 1;
  -webkit-animation-duration: .1s;
  -moz-animation-duration: .1s;
  animation-duration: .1s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-delay: 6s;
  -moz-animation-delay: 6s;
  animation-delay: 6s; }

@-webkit-keyframes javaOneFade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-moz-keyframes javaOneFade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes javaOneFade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.javaTwoAnimation {
  opacity: 0;
  -webkit-animation: javaTwoFade ease 1;
  -moz-animation: javaTwoFade ease 1;
  animation: javaTwoFade ease 1;
  -webkit-animation-duration: .1s;
  -moz-animation-duration: .1s;
  animation-duration: .1s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-delay: 6.25s;
  -moz-animation-delay: 6.25s;
  animation-delay: 6.25s; }

@-webkit-keyframes javaTwoFade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-moz-keyframes javaTwoFade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes javaTwoFade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.javaThreeAnimation {
  opacity: 0;
  -webkit-animation: javaThreeFade ease 1;
  -moz-animation: javaThreeFade ease 1;
  animation: javaThreeFade ease 1;
  -webkit-animation-duration: .1s;
  -moz-animation-duration: .1s;
  animation-duration: .1s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-delay: 6.5s;
  -moz-animation-delay: 6.5s;
  animation-delay: 6.5s; }

@-webkit-keyframes javaThreeFade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-moz-keyframes javaThreeFade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes javaThreeFade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.javaFourAnimation {
  opacity: 0;
  -webkit-animation: javaFourFade ease 1;
  -moz-animation: javaFourFade ease 1;
  animation: javaFourFade ease 1;
  -webkit-animation-duration: .1s;
  -moz-animation-duration: .1s;
  animation-duration: .1s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-delay: 6.75s;
  -moz-animation-delay: 6.75s;
  animation-delay: 6.75s; }

@-webkit-keyframes javaFourFade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-moz-keyframes javaFourFade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes javaFourFade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.javaFiveAnimation {
  opacity: 0;
  -webkit-animation: javaFiveFade ease 1;
  -moz-animation: javaFiveFade ease 1;
  animation: javaFiveFade ease 1;
  -webkit-animation-duration: .1s;
  -moz-animation-duration: .1s;
  animation-duration: .1s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-delay: 7s;
  -moz-animation-delay: 7s;
  animation-delay: 7s; }

@-webkit-keyframes javaFiveFade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-moz-keyframes javaFiveFade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes javaFiveFade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.jOneAnimation {
  opacity: 0;
  -webkit-animation: jOneFade ease 1;
  -moz-animation: jOneFade ease 1;
  animation: jOneFade ease 1;
  -webkit-animation-duration: .1s;
  -moz-animation-duration: .1s;
  animation-duration: .1s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-delay: 7.5s;
  -moz-animation-delay: 7.5s;
  animation-delay: 7.5s; }

@-webkit-keyframes jOneFade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-moz-keyframes jOneFade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes jOneFade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.jTwoAnimation {
  opacity: 0;
  -webkit-animation: jTwoFade ease 1;
  -moz-animation: jTwoFade ease 1;
  animation: jTwoFade ease 1;
  -webkit-animation-duration: .1s;
  -moz-animation-duration: .1s;
  animation-duration: .1s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-delay: 7.75s;
  -moz-animation-delay: 7.75s;
  animation-delay: 7.75s; }

@-webkit-keyframes jTwoFade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-moz-keyframes jTwoFade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes jTwoFade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.jThreeAnimation {
  opacity: 0;
  -webkit-animation: jThreeFade ease 1;
  -moz-animation: jThreeFade ease 1;
  animation: jThreeFade ease 1;
  -webkit-animation-duration: .1s;
  -moz-animation-duration: .1s;
  animation-duration: .1s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-delay: 8s;
  -moz-animation-delay: 8s;
  animation-delay: 8s; }

@-webkit-keyframes jThreeFade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-moz-keyframes jThreeFade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes jThreeFade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.jFourAnimation {
  opacity: 0;
  -webkit-animation: jFourFade ease 1;
  -moz-animation: jFourFade ease 1;
  animation: jFourFade ease 1;
  -webkit-animation-duration: .1s;
  -moz-animation-duration: .1s;
  animation-duration: .1s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-delay: 8.25s;
  -moz-animation-delay: 8.25s;
  animation-delay: 8.25s; }

@-webkit-keyframes jFourFade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-moz-keyframes jFourFade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes jFourFade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.jFiveAnimation {
  opacity: 0;
  -webkit-animation: jFiveFade ease 1;
  -moz-animation: jFiveFade ease 1;
  animation: jFiveFade ease 1;
  -webkit-animation-duration: .1s;
  -moz-animation-duration: .1s;
  animation-duration: .1s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-delay: 8.5s;
  -moz-animation-delay: 8.5s;
  animation-delay: 8.5s; }

@-webkit-keyframes jFiveFade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-moz-keyframes jFiveFade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes jFiveFade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.angOneAnimation {
  opacity: 0;
  -webkit-animation: angOneFade ease 1;
  -moz-animation: angOneFade ease 1;
  animation: angOneFade ease 1;
  -webkit-animation-duration: .1s;
  -moz-animation-duration: .1s;
  animation-duration: .1s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-delay: 9s;
  -moz-animation-delay: 9s;
  animation-delay: 9s; }

@-webkit-keyframes angOneFade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-moz-keyframes angOneFade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes angOneFade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.angTwoAnimation {
  opacity: 0;
  -webkit-animation: angTwoFade ease 1;
  -moz-animation: angTwoFade ease 1;
  animation: angTwoFade ease 1;
  -webkit-animation-duration: .1s;
  -moz-animation-duration: .1s;
  animation-duration: .1s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-delay: 9.25s;
  -moz-animation-delay: 9.25s;
  animation-delay: 9.25s; }

@-webkit-keyframes angTwoFade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-moz-keyframes angTwoFade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes angTwoFade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.angThreeAnimation {
  opacity: 0;
  -webkit-animation: angThreeFade ease 1;
  -moz-animation: angThreeFade ease 1;
  animation: angThreeFade ease 1;
  -webkit-animation-duration: .1s;
  -moz-animation-duration: .1s;
  animation-duration: .1s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-delay: 9.5s;
  -moz-animation-delay: 9.5s;
  animation-delay: 9.5s; }

@-webkit-keyframes angThreeFade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-moz-keyframes angThreeFade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes angThreeFade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.angFourAnimation {
  opacity: 0;
  -webkit-animation: angFourFade ease 1;
  -moz-animation: angFourFade ease 1;
  animation: angFourFade ease 1;
  -webkit-animation-duration: .1s;
  -moz-animation-duration: .1s;
  animation-duration: .1s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-delay: 9.75s;
  -moz-animation-delay: 9.75s;
  animation-delay: 9.75s; }

@-webkit-keyframes angFourFade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-moz-keyframes angFourFade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes angFourFade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.angFiveAnimation {
  opacity: 0;
  -webkit-animation: angFiveFade ease 1;
  -moz-animation: angFiveFade ease 1;
  animation: angFiveFade ease 1;
  -webkit-animation-duration: .1s;
  -moz-animation-duration: .1s;
  animation-duration: .1s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-delay: 10s;
  -moz-animation-delay: 10s;
  animation-delay: 10s; }

@-webkit-keyframes angFiveFade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-moz-keyframes angFiveFade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes angFiveFade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.photoOneAnimation {
  opacity: 0;
  -webkit-animation: photoOneFade ease 1;
  -moz-animation: photoOneFade ease 1;
  animation: photoOneFade ease 1;
  -webkit-animation-duration: .1s;
  -moz-animation-duration: .1s;
  animation-duration: .1s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-delay: 10.5s;
  -moz-animation-delay: 10.5s;
  animation-delay: 10.5s; }

@-webkit-keyframes photoOneFade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-moz-keyframes photoOneFade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes photoOneFade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.photoTwoAnimation {
  opacity: 0;
  -webkit-animation: photoTwoFade ease 1;
  -moz-animation: photoTwoFade ease 1;
  animation: photoTwoFade ease 1;
  -webkit-animation-duration: .1s;
  -moz-animation-duration: .1s;
  animation-duration: .1s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-delay: 10.75s;
  -moz-animation-delay: 10.75s;
  animation-delay: 10.75s; }

@-webkit-keyframes photoTwoFade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-moz-keyframes photoTwoFade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes photoTwoFade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.photoThreeAnimation {
  opacity: 0;
  -webkit-animation: photoThreeFade ease 1;
  -moz-animation: photoThreeFade ease 1;
  animation: photoThreeFade ease 1;
  -webkit-animation-duration: .1s;
  -moz-animation-duration: .1s;
  animation-duration: .1s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-delay: 11s;
  -moz-animation-delay: 11s;
  animation-delay: 11s; }

@-webkit-keyframes photoThreeFade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-moz-keyframes photoThreeFade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes photoThreeFade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.photoFourAnimation {
  opacity: 0;
  -webkit-animation: photoFourFade ease 1;
  -moz-animation: photoFourFade ease 1;
  animation: photoFourFade ease 1;
  -webkit-animation-duration: .1s;
  -moz-animation-duration: .1s;
  animation-duration: .1s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-delay: 11.25s;
  -moz-animation-delay: 11.25s;
  animation-delay: 11.25s; }

@-webkit-keyframes photoFourFade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-moz-keyframes photoFourFade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes photoFourFade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.photoFiveAnimation {
  opacity: 0;
  -webkit-animation: photoFiveFade ease 1;
  -moz-animation: photoFiveFade ease 1;
  animation: photoFiveFade ease 1;
  -webkit-animation-duration: .1s;
  -moz-animation-duration: .1s;
  animation-duration: .1s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-delay: 11.5s;
  -moz-animation-delay: 11.5s;
  animation-delay: 11.5s; }

@-webkit-keyframes photoFiveFade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-moz-keyframes photoFiveFade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes photoFiveFade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.designOneAnimation {
  opacity: 0;
  -webkit-animation: designOneFade ease 1;
  -moz-animation: designOneFade ease 1;
  animation: designOneFade ease 1;
  -webkit-animation-duration: .1s;
  -moz-animation-duration: .1s;
  animation-duration: .1s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-delay: 12s;
  -moz-animation-delay: 12s;
  animation-delay: 12s; }

@-webkit-keyframes designOneFade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-moz-keyframes designOneFade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes designOneFade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.designTwoAnimation {
  opacity: 0;
  -webkit-animation: designTwoFade ease 1;
  -moz-animation: designTwoFade ease 1;
  animation: designTwoFade ease 1;
  -webkit-animation-duration: .1s;
  -moz-animation-duration: .1s;
  animation-duration: .1s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-delay: 12.25s;
  -moz-animation-delay: 12.25s;
  animation-delay: 12.25s; }

@-webkit-keyframes designTwoFade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-moz-keyframes designTwoFade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes designTwoFade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.designThreeAnimation {
  opacity: 0;
  -webkit-animation: desginThreeFade ease 1;
  -moz-animation: desginThreeFade ease 1;
  animation: desginThreeFade ease 1;
  -webkit-animation-duration: .1s;
  -moz-animation-duration: .1s;
  animation-duration: .1s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-delay: 12.5s;
  -moz-animation-delay: 12.5s;
  animation-delay: 12.5s; }

@-webkit-keyframes desginThreeFade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-moz-keyframes desginThreeFade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes desginThreeFade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.designFourAnimation {
  opacity: 0;
  -webkit-animation: designFourFade ease 1;
  -moz-animation: designFourFade ease 1;
  animation: designFourFade ease 1;
  -webkit-animation-duration: .1s;
  -moz-animation-duration: .1s;
  animation-duration: .1s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-delay: 12.75s;
  -moz-animation-delay: 12.75s;
  animation-delay: 12.75s; }

@-webkit-keyframes designFourFade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-moz-keyframes designFourFade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes designFourFade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.designFiveAnimation {
  opacity: 0;
  -webkit-animation: designFiveFade ease 1;
  -moz-animation: designFiveFade ease 1;
  animation: designFiveFade ease 1;
  -webkit-animation-duration: .1s;
  -moz-animation-duration: .1s;
  animation-duration: .1s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-delay: 13s;
  -moz-animation-delay: 13s;
  animation-delay: 13s; }

@-webkit-keyframes designFiveFade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-moz-keyframes designFiveFade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes designFiveFade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

body {
  background-color: #F2F4F7;
  overflow-x: hidden; }

h1.helloIntro {
  color: #6A2CB4;
  font-family: "Shadows Into Light", cursive;
  font-size: 33px;
  margin-top: 11px; }

h2 {
  text-align: center; }

.leftRight {
  opacity: 0;
  -webkit-animation: fadeIn ease-in 1;
  -moz-animation: fadeIn ease-in 1;
  animation: fadeIn ease-in 1;
  -webkit-animation-duration: .5s;
  -moz-animation-duration: .5s;
  animation-duration: .5s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards; }

#meHello {
  -webkit-animation-name: slide;
  -moz-animation-name: slide;
  animation-name: slide;
  -webkit-animation-duration: 4s;
  -moz-animation-duration: 4s;
  animation-duration: 4s;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-delay: .75s;
  -moz-animation-delat: .75s;
  animation-delay: .75s;
  -webkit-animation-iteration-count: 1;
  -moz-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards; }

@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-moz-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-webkit-keyframes slide {
  0% {
    margin-left: 30px;
    opacity: 1; }
  25% {
    margin-left: 250px;
    opacity: 1; }
  50% {
    margin-left: 500px;
    opacity: 1; }
  75% {
    margin-left: 750px; }
  100% {
    margin-left: 1000px;
    opacity: 0; } }

@-moz-keyframes slide {
  0% {
    margin-left: 30px;
    opacity: 1; }
  25% {
    margin-left: 250px;
    opacity: 1; }
  50% {
    margin-left: 500px;
    opacity: 1; }
  75% {
    margin-left: 750px; }
  100% {
    margin-left: 1000px;
    opacity: 0; } }

@keyframes slide {
  0% {
    margin-left: 30px;
    opacity: 1; }
  25% {
    margin-left: 250px;
    opacity: 1; }
  50% {
    margin-left: 500px;
    opacity: 1; }
  75% {
    margin-left: 750px; }
  100% {
    margin-left: 1000px;
    opacity: 0; } }

@-webkit-keyframes smallBubbleFade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-moz-keyframes smallBubbleFade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes smallBubbleFade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.smallHello {
  opacity: 0;
  -webkit-animation: smallBubbleFade ease-in 1;
  -moz-animation: smallBubbleFade ease-in 1;
  animation: smallBubbleFade ease-in 1;
  -webkit-animation-duration: .25s;
  -moz-animation-duration: .25s;
  animation-duration: .25s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  animation-delay: 1s; }

@-webkit-keyframes medBubbleFade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-moz-keyframes medBubbleFade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes medBubbleFade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.medHello {
  opacity: 0;
  -webkit-animation: medBubbleFade ease-in 1;
  -moz-animation: medBubbleFade ease-in 1;
  animation: medBubbleFade ease-in 1;
  -webkit-animation-duration: .5s;
  -moz-animation-duration: .5s;
  animation-duration: .5s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-delay: 1.5s;
  -moz-animation-delat: 1.5s;
  animation-delay: 1.5s; }

@-webkit-keyframes lgBubbleFade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-moz-keyframes lgBubbleFade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes lgBubbleFade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.helloBubble {
  opacity: 0;
  -webkit-animation: lgBubbleFade ease-in 1;
  -moz-animation: lgBubbleFade ease-in 1;
  animation: lgBubbleFade ease-in 1;
  -webkit-animation-duration: .5s;
  -moz-animation-duration: .5s;
  animation-duration: .5s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-delay: 2s;
  -moz-animation-delay: 2s;
  animation-delay: 2s; }
