ul.navList {
  padding-top: 6px;
  text-align: right; }
  ul.navList li.page-scroll {
    display: inline;
    padding: 10px; }
    ul.navList li.page-scroll a {
      text-decoration: none;
      color: #666666;
      font-size: 25px;
      font-family: "Shadows Into Light", cursive; }
      ul.navList li.page-scroll a:focus {
        outline: none; }
      ul.navList li.page-scroll a:hover {
        border-bottom: 2px solid #6A2CB4; }

.workBubble {
  position: relative;
  width: 285px;
  height: 217px;
  text-align: center;
  line-height: 100px;
  background-color: #fff;
  border: 8px solid #666;
  border-radius: 145px;
  box-shadow: 2px 2px 4px #888;
  margin-left: 154px;
  margin-top: 30px;
  margin-bottom: 30px; }

.workBubble:before, .workBubble:after {
  content: ' ';
  margin-left: 70px;
  margin-top: 140px;
  width: 81px;
  height: 81px;
  background-color: #fff;
  border: 8px solid #666;
  border-radius: 58px;
  position: absolute; }

.workBubble:after {
  width: 52px;
  height: 52px;
  margin-left: 132px;
  margin-top: 14px;
  border-radius: 58px;
  position: absolute; }

img.logo {
  width: 170px;
  padding: 10px;
  margin: 0 auto;
  display: block; }

body {
  background-color: #F2F4F7; }

h1.workIntro {
  color: #6A2CB4;
  font-family: "Shadows Into Light", cursive;
  font-size: 37px; }
