.unslider{
	overflow:auto;
	margin:0 auto;
	padding:0;
	width:1148px;
	margin-bottom:10px;}
.unslider-wrap{
	position:relative}
.unslider-wrap.unslider-carousel>li{
	float:left}
.unslider-vertical>ul{
	height:100%}
.unslider-vertical li{
	float:none;
	width:100%}
.unslider-fade{
	position:relative}
.unslider-fade .unslider-wrap li{
	position:absolute;
	left:0;
	top:0;
	z-index:8}
.unslider-fade .unslider-wrap li.unslider-active{
	z-index:10}
.unslider li,.unslider ol,.unslider ul{
	list-style:none;
	margin:0;
	padding:0;
	border:none}
.unslider-arrow{
	position:absolute;
	left:0px;
	border:4px solid #666666;
	padding:5px;
	border-radius:22px;
	font-family: 'Shadows Into Light', cursive;
	color:#6A2CB4;
	z-index:2;
	font-size:18px;
	cursor:pointer;
	margin-left:83px;
	margin-top: -183px;
	text-decoration: none !important;}

.unslider-arrow.next{
	left:auto;
	color:#6A2CB4;
	font-family: 'Shadows Into Light', cursive;
	text-decoration: none;
	right:20px;
	font-size:18px;
	border:4px solid #666666;
	padding:5px;
	margin-right: 83px;
	border-radius: 22px;}
/*.unslider-horizontal{
	
	margin-top: 48px;
}	*/