#about .about {
	opacity:0;
}

section#about{
	height:940px;
	background-image:url("../images/circles.png");
	background-position:bottom;

}

h1.aboutIntro{
	color:$mainpurple;
	text-align:center;
	font-family:$fontTwo;
	font-size:20px;
	margin-top:8px;
	padding:21px;
	line-height:1.4em;
}

//animation for blob to appear
.meAnimation{
	opacity:0;
	-webkit-animation:fadeMeIn ease-in 1;
	-moz-animation:fadeMeIn ease-in 1;
	animation:fadeMeIn ease-in 1;

	-webkit-animation-duration:.25s;
	-moz-animation-duration:.25s;
	animation-duration:.25s;

	-webkit-animation-fill-mode:forwards;  
    -moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;
}

@-webkit-keyframes fadeMeIn{
	from { opacity:0; } to { opacity:1; } 
}

@-moz-keyframes fadeMeIn{
	from { opacity:0; } to { opacity:1; } 
}

@keyframes fadeMeIn { 
		from { opacity:0; } to { opacity:1; } 
}

//animation for about bubbles
@-webkit-keyframes smallAboutFade{
	from { opacity:0; } to { opacity:1; } 
}
@-moz-keyframes smallAboutFade{
	from { opacity:0; } to { opacity:1; } 
}
@keyframes smallAboutFade { 
		from { opacity:0; } to { opacity:1; } 
}
.smallAboutAnimation{
	opacity:0;
	-webkit-animation:smallAboutFade ease-in 1;
	-moz-animation:smallAboutFade ease-in 1;
	animation:smallAboutFade ease-in 1;

	-webkit-animation-duration:.25s;
	-moz-animation-duration:.25s;
	animation-duration:.25s;

	-webkit-animation-fill-mode:forwards;  
    -moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;

	-webkit-animation-delay:.5s;
	-moz-animation-delay:.5s;
	animation-delay:.5s;
}

@-webkit-keyframes medAboutFade{
	from { opacity:0; } to { opacity:1; } 
}
@-moz-keyframes medAboutFade{
	from { opacity:0; } to { opacity:1; } 
}
@keyframes medAboutFade { 
		from { opacity:0; } to { opacity:1; } 
}

.medAboutAnimation{
	opacity:0;
	-webkit-animation:medAboutFade ease-in 1;
	-moz-animation:medAboutFade ease-in 1;
	animation:medAboutFade ease-in 1;

	-webkit-animation-duration:.25s;
	-moz-animation-duration:.25s;
	animation-duration:.25s;

	-webkit-animation-fill-mode:forwards;  
    -moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;

	-webkit-animation-delay:.75s;
	-moz-animation-delat:.75s;
	animation-delay:.75s;
}

@-webkit-keyframes lgAboutFade{
	from { opacity:0; } to { opacity:1; }

}
@-moz-keyframes lgAboutFade{
	from { opacity:0; } to { opacity:1; } 
}
@keyframes lgAboutFade { 
		from { opacity:0; } to { opacity:1; } 
}
.aboutBubbleAnimation{
	opacity:0;
	-webkit-animation:lgAboutFade ease-in 1;
	-moz-animation:lgAboutFade ease-in 1;
	animation:lgAboutFade ease-in 1;

	-webkit-animation-duration:.5s;
	-moz-animation-duration:.5s;
	animation-duration:.5s;

	-webkit-animation-fill-mode:forwards;  
    -moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;

	-webkit-animation-delay:1s;
	-moz-animation-delay:1s;
	animation-delay:1s;
}

//media query 
@media screen and(max-width:980px){
	img#me{
		margin-right:188px !important;
	}
}