#contact {
	margin-top:130px;

	// background-color:darken($lightgray,25);
}

h1.contactIntro{
	color:$mainpurple;
	// text-align:center;
	font-family:$fontOne;
	font-size:45px;
	margin-top:20px;
	// padding:20px;
}

.contactLinks{
	margin:0 auto;
	display:block;
	width:300px;
}

ul.contactList{
	margin-top:15px;
	li {
		display:inline-block;
	}
}

.emailItem, .phoneItem {
	margin-top:15px;
	text-align:center;
	font-family:$fontOne;
	font-size:30px;
	a{
		text-decoration: none;
		color:$bubblegray;
		&:focus{
			outline: none;
		}
		&:hover{
		color:rgba(106,44,180,1);
			transition:color 2000ms ease;
		}
	}
}