#contact .contact{
	opacity:0;
	//margin-top:130px;

	// background-color:darken($lightgray,25);
}

h1.contactIntro{
	color:$mainpurple;
	// text-align:center;
	font-family:$fontOne;
	font-size:45px;
	margin-top:20px;
	// padding:20px;
}

.contactLinks{
	margin:0 auto;
	display:block;
	width:300px;
}

ul.contactList{
	margin-top:15px;
	li {
		display:inline-block;
	}
}

.emailItem, .phoneItem {
	margin-top:15px;
	text-align:center;
	font-family:$fontOne;
	font-size:30px;
	a{
		text-decoration: none;
		color:$bubblegray;
		&:focus{
			outline: none;
		}
		&:hover{
		color:rgba(106,44,180,1);
			transition:color 800ms ease;
		}
	}
}

.emailItem{
	margin-top:0px;
}

.contactList img:hover{
  transform:scale(1.2);
  transition:500ms ease;
}
//animation for contact info
.contactItemsAnimation{
	opacity:0;
	-webkit-animation:contactItemsFade ease 1;
	-moz-animation:contactItemsFade ease 1;
	animation:contactItemsFade ease 1;

	-webkit-animation-duration:.5s;
	-moz-animation-duration:.5s;
	animation-duration:.5s;

	-webkit-animation-fill-mode:forwards;  
    -moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;

	-webkit-animation-delay:3.25s;
	-moz-animation-delay:3.25s;
	animation-delay:3.25s;
}

@-webkit-keyframes contactItemsFade{
	from { opacity:0; } to { opacity:1; }

}
@-moz-keyframes contactItemsFade{
	from { opacity:0; } to { opacity:1; } 
}
@keyframes contactItemsFade { 
		from { opacity:0; } to { opacity:1; } 
}

//animation for bubbles
@-webkit-keyframes smallContactFade{
	from { opacity:0; } to { opacity:1; } 
}
@-moz-keyframes smallContactFade{
	from { opacity:0; } to { opacity:1; } 
}
@keyframes smallContactFade { 
		from { opacity:0; } to { opacity:1; } 
}

.smallContactAnimation{
	opacity:0;
	-webkit-animation:smallContactFade ease-in 1;
	-moz-animation:smallContactFade ease-in 1;
	animation:smallContactFade ease-in 1;

	-webkit-animation-duration:.25s;
	-moz-animation-duration:.25s;
	animation-duration:.25s;

	-webkit-animation-fill-mode:forwards;  
    -moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;

	-webkit-animation-delay:2.5s;
	-moz-animation-delay:2.5s;
	animation-delay:2.5s;
}

@-webkit-keyframes medContactFade{
	from { opacity:0; } to { opacity:1; } 
}
@-moz-keyframes medContactFade{
	from { opacity:0; } to { opacity:1; } 
}
@keyframes medContactFade { 
		from { opacity:0; } to { opacity:1; } 
}

.medContactAnimation{
	opacity:0;
	-webkit-animation:medContactFade ease-in 1;
	-moz-animation:medContactFade ease-in 1;
	animation:medContactFade ease-in 1;

	-webkit-animation-duration:.25s;
	-moz-animation-duration:.25s;
	animation-duration:.25s;

	-webkit-animation-fill-mode:forwards;  
    -moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;

	-webkit-animation-delay:2.75s;
	-moz-animation-delat:2.75s;
	animation-delay:2.75s;
}

@-webkit-keyframes lgContactFade{
	from { opacity:0; } to { opacity:1; }

}
@-moz-keyframes lgContactFade{
	from { opacity:0; } to { opacity:1; } 
}
@keyframes lgContactFade { 
		from { opacity:0; } to { opacity:1; } 
}

.contactBubbleAnimation{
	opacity:0;
	-webkit-animation:lgContactFade ease-in 1;
	-moz-animation:lgContactFade ease-in 1;
	animation:lgContactFade ease-in 1;

	-webkit-animation-duration:.25s;
	-moz-animation-duration:.25s;
	animation-duration:.25s;

	-webkit-animation-fill-mode:forwards;  
    -moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;

	-webkit-animation-delay:3s;
	-moz-animation-delay:3s;
	animation-delay:3s;
}
//animation for blob 
.animationFadeTwo {
	opacity:0;
	-webkit-animation:appear ease-in 1;
	-moz-animation:appear ease-in 1;
	animation:appear ease-in 1;

	-webkit-animation-duration:.5s;
	-moz-animation-duration:.5s;
	animation-duration:.5s;

	-webkit-animation-fill-mode:forwards;  
    -moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;
}

@-webkit-keyframes appear{
	from { opacity:0; } to { opacity:1; } 
}

@-moz-keyframes appear{
	from { opacity:0; } to { opacity:1; } 
}

@keyframes appear { 
		from { opacity:0; } to { opacity:1; } 
}

.animationSlideLeft{
	-webkit-animation-name:slideLeft;
	-moz-animation-name:slideLeft;
	animation-name:slideLeft;

	-webkit-animation-duration:2s;
	-moz-animation-duration:2s;
	animation-duration:2s;

	-webkit-animation-timing-function:linear;
	-moz-animation-timing-function:linear;
	animation-timing-function:linear;

	-webkit-animation-delay:.5s;
	-moz-animation-delat:.5s;
	animation-delay:.5s;

	-webkit-animation-iteration-count:1;
	-moz-animation-iteration-count:1;
	animation-iteration-count:1;

	-webkit-animation-fill-mode:forwards;  
    -moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;

	}

@-webkit-keyframes slideLeft {
	0% {
		float:right;
		
		opacity:1;
	}

	100% {
		margin:0 auto;
		margin-right:45%;
		opacity:1;
	}
}

@-moz-keyframes slideLeft {
	0% {
		float:right;
		opacity:1;
	}
	
	100% {
		margin-right:45%;
		margin:0 auto;
		opacity:1;
	}
}

@keyframes slideLeft {
	0% {
		float:right;
		opacity:1;
	}
	
	100% {
		margin:0 auto;
		margin-right:45%;
		opacity:1;
	}
}