img.logo{
	width:150px;
	padding:10px;
	margin:0 auto;
	display:block;
}

a:focus{
	outline:none;
}

li img {
	margin:0 auto;
	width:71px;
	padding:10px;
	
}

img.me{
	width:212px;
	float:right;
	margin-right:156px;
	margin-top:90px;
}