img.logo{
	width:150px;
	padding:10px;
	margin:0 auto;
	display:block;
	&:hover{
		transform:scale(1.2);
  		transition:500ms ease;
	}
}

a:focus{
	outline:none;
}

li img {
	margin:0 auto;
	width:71px;
	padding:10px;
	
}
// about blob
img#me{
	width:263px;
	float:right;
	margin-right:238px;
	margin-top:90px;
}
// hello blob
img#meHello{
	width:146px;
	 -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
	transform:rotate(180deg);
	margin-top:68px;
	margin-left:30px;
}
// work blob
img#meWork{
	-ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
	transform:rotate(90deg) !important;
	width:131px;
	margin-top:187px;
	opacity:100;
	//margin-left:60px;
}

//work blob number 2
img#meWorkTwo{
	width:131px;
	margin-top:-90px;
	margin-left:457px;
}

// contact blob
img#meContact{
	width:125px;
	float:right;
}


img.aboutOne{
	width:60px;
	padding:0px;
	padding-top:5px;
}

img.usedOne{
	width:45px;
	padding:0px;
}

img.park,.marvel,.bob{
	width:459px;
	margin:0 auto;
	display:block;
}


img.tee{
	width:457px;
	margin:0 auto;
	display:block;
}

img.view{
	padding:0px;
	width:43px;
	margin-top:18px;
}