#navigation{
	position:fixed;
	width:100%;
	background-color:$lightgray;
	z-index:9999999;
	height:91px;
	box-shadow:2px 2px 4px rgba(0,0,0,.1);
}

.logoCol{
	margin-bottom:40px;
}

ul.navList{	
	z-index:99999;
	padding-top:30px;
	text-align: center;
	li.page-scroll{
		display:inline;
		padding-left:30px;
		
		a{
		text-decoration: none;
		color:$bubblegray;
		font-size: 20px;
		font-family: $fontOne;
		border-bottom:2px solid rgba(106,44,180,0);
		&:focus {
			outline:none;
		}
		&.active {
			border-bottom:2px solid rgba(106,44,180,1);
			transition:border 2000ms ease;
		}
		}
	}
}

//email icon
li.page-scroll img{
		width:52px;
		margin-left:50px;
		&:hover {
			transform:scale(1.7);
  			transition:500ms ease;
		}
}

ul.navList li.page-scroll:nth-child(5) a{
	border-bottom:hidden;
	&:hover{
		border-bottom:hidden;
	}
}

.scrollLine {
	opacity:0;
	border-bottom:2px solid rgba(106,44,180,1);
	transition:border 2000ms ease;
	// &.active{
	// 	opacity:0;
	// 	border-bottom:2px solid rgba(106,44,180,1);
	// 	transition:border 2000ms ease;
	// }	
}

.scrollLineA {
	opacity:0;
	border-bottom:2px solid rgba(106,44,180,1);
	transition:border 2000ms ease;
}

.scrollLineB {
	opacity:0;
	border-bottom:2px solid rgba(106,44,180,1);
	transition:border 2000ms ease;
}

.scrollLineC {
	opacity:0;
	border-bottom:2px solid rgba(106,44,180,1);
	transition:border 2000ms ease;
}