//animation for skill table 
.skillsListAnimation{
	opacity:0;
	-webkit-animation:listSkillsFade ease 1;
	-moz-animation:listSkillsFade ease 1;
	animation:listSkillsFade ease 1;

	-webkit-animation-duration:1s;
	-moz-animation-duration:1s;
	animation-duration:1s;

	-webkit-animation-fill-mode:forwards;  
    -moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;

	-webkit-animation-delay:2s;
	-moz-animation-delay:2s;
	animation-delay:2s;
}

@-webkit-keyframes listSkillsFade{
	from { opacity:0; } to { opacity:1; }

}
@-moz-keyframes listSkillsFade{
	from { opacity:0; } to { opacity:1; } 
}
@keyframes listSkillsFade { 
		from { opacity:0; } to { opacity:1; } 
}

//animation for HTML bubble rates
.htmlOneAnimation {
	opacity:0;
	-webkit-animation:htmlOneFade ease 1;
	-moz-animation:htmlOneFade ease 1;
	animation:htmlOneFade ease 1;

	-webkit-animation-duration:.25s;
	-moz-animation-duration:.25s;
	animation-duration:.25s;

	-webkit-animation-fill-mode:forwards;  
    -moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;

	-webkit-animation-delay:3s;
	-moz-animation-delay:3s;
	animation-delay:3s;
}

@-webkit-keyframes htmlOneFade{
	from { opacity:0; } to { opacity:1; }

}
@-moz-keyframes htmlOneFade{
	from { opacity:0; } to { opacity:1; } 
}
@keyframes htmlOneFade { 
		from { opacity:0; } to { opacity:1; } 
}

.htmlTwoAnimation {
	opacity:0;
	-webkit-animation:htmlTwoFade ease 1;
	-moz-animation:htmlTwoFade ease 1;
	animation:htmlTwoFade ease 1;

	-webkit-animation-duration:.25s;
	-moz-animation-duration:.25s;
	animation-duration:.25s;

	-webkit-animation-fill-mode:forwards;  
    -moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;

	-webkit-animation-delay:3.5s;
	-moz-animation-delay:3.5s;
	animation-delay:3.5s;
}

@-webkit-keyframes htmlTwoFade{
	from { opacity:0; } to { opacity:1; }

}
@-moz-keyframes htmlTwoFade{
	from { opacity:0; } to { opacity:1; } 
}
@keyframes htmlTwoFade { 
		from { opacity:0; } to { opacity:1; } 
}

.htmlThreeAnimation {
	opacity:0;
	-webkit-animation:htmlThreeFade ease 1;
	-moz-animation:htmlThreeFade ease 1;
	animation:htmlThreeFade ease 1;

	-webkit-animation-duration:.25s;
	-moz-animation-duration:.25s;
	animation-duration:.25s;

	-webkit-animation-fill-mode:forwards;  
    -moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;

	-webkit-animation-delay:4s;
	-moz-animation-delay:4s;
	animation-delay:4s;
}

@-webkit-keyframes htmlThreeFade{
	from { opacity:0; } to { opacity:1; }

}
@-moz-keyframes htmlThreeFade{
	from { opacity:0; } to { opacity:1; } 
}
@keyframes htmlThreeFade { 
		from { opacity:0; } to { opacity:1; } 
}

.htmlFourAnimation {
	opacity:0;
	-webkit-animation:htmlFourFade ease 1;
	-moz-animation:htmlFourFade ease 1;
	animation:htmlFourFade ease 1;

	-webkit-animation-duration:.25s;
	-moz-animation-duration:.25s;
	animation-duration:.25s;

	-webkit-animation-fill-mode:forwards;  
    -moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;

	-webkit-animation-delay:4.5s;
	-moz-animation-delay:4.5s;
	animation-delay:4.5s;
}

@-webkit-keyframes htmlFourFade{
	from { opacity:0; } to { opacity:1; }

}
@-moz-keyframes htmlFourFade{
	from { opacity:0; } to { opacity:1; } 
}
@keyframes htmlFourFade { 
		from { opacity:0; } to { opacity:1; } 
}

.htmlFiveAnimation {
	opacity:0;
	-webkit-animation:htmlFiveFade ease 1;
	-moz-animation:htmlFiveFade ease 1;
	animation:htmlFiveFade ease 1;

	-webkit-animation-duration:.25s;
	-moz-animation-duration:.25s;
	animation-duration:.25s;

	-webkit-animation-fill-mode:forwards;  
    -moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;

	-webkit-animation-delay:5s;
	-moz-animation-delay:5s;
	animation-delay:5s;
}

@-webkit-keyframes htmlFiveFade{
	from { opacity:0; } to { opacity:1; }

}
@-moz-keyframes htmlFiveFade{
	from { opacity:0; } to { opacity:1; } 
}
@keyframes htmlFiveFade { 
		from { opacity:0; } to { opacity:1; } 
}

// .htmlSixAnimation {
// 	opacity:0;
// 	-webkit-animation:htmlSixFade ease 1;
// 	-moz-animation:htmlSixFade ease 1;
// 	animation:htmlSixFade ease 1;

// 	-webkit-animation-duration:.25s;
// 	-moz-animation-duration:.25s;
// 	animation-duration:.25s;

// 	-webkit-animation-fill-mode:forwards;  
//     -moz-animation-fill-mode:forwards;
// 	animation-fill-mode:forwards;

// 	-webkit-animation-delay:10s;
// 	-moz-animation-delay:10s;
// 	animation-delay:10s;
// }

// @-webkit-keyframes htmlSixFade{
// 	from { opacity:0; } to { opacity:1; }

// }
// @-moz-keyframes htmlSixFade{
// 	from { opacity:0; } to { opacity:1; } 
// }
// @keyframes htmlSixFade { 
// 		from { opacity:0; } to { opacity:1; } 
// }


// .htmlSevenAnimation {
// 	opacity:0;
// 	-webkit-animation:htmlSevenFade ease 1;
// 	-moz-animation:htmlSevenFade ease 1;
// 	animation:htmlSevenFade ease 1;

// 	-webkit-animation-duration:.25s;
// 	-moz-animation-duration:.25s;
// 	animation-duration:.25s;

// 	-webkit-animation-fill-mode:forwards;  
//     -moz-animation-fill-mode:forwards;
// 	animation-fill-mode:forwards;

// 	-webkit-animation-delay:11s;
// 	-moz-animation-delay:11s;
// 	animation-delay:11s;
// }

// @-webkit-keyframes htmlSevenFade{
// 	from { opacity:0; } to { opacity:1; }

// }
// @-moz-keyframes htmlSevenFade{
// 	from { opacity:0; } to { opacity:1; } 
// }
// @keyframes htmlSevenFade { 
// 		from { opacity:0; } to { opacity:1; } 
// }

// animation for CSS bubbles
.cssOneAnimation {
	opacity:0;
	-webkit-animation:cssOneFade ease 1;
	-moz-animation:cssOneFade ease 1;
	animation:cssOneFade ease 1;

	-webkit-animation-duration:.25s;
	-moz-animation-duration:.25s;
	animation-duration:.25s;

	-webkit-animation-fill-mode:forwards;  
    -moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;

	-webkit-animation-delay:6s;
	-moz-animation-delay:6s;
	animation-delay:6s;
}

@-webkit-keyframes cssOneFade{
	from { opacity:0; } to { opacity:1; }

}
@-moz-keyframes cssOneFade{
	from { opacity:0; } to { opacity:1; } 
}
@keyframes cssOneFade { 
		from { opacity:0; } to { opacity:1; } 
}

.cssTwoAnimation {
	opacity:0;
	-webkit-animation:cssTwoFade ease 1;
	-moz-animation:cssTwoFade ease 1;
	animation:cssTwoFade ease 1;

	-webkit-animation-duration:.25s;
	-moz-animation-duration:.25s;
	animation-duration:.25s;

	-webkit-animation-fill-mode:forwards;  
    -moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;

	-webkit-animation-delay:6.5s;
	-moz-animation-delay:6.5s;
	animation-delay:6.5s;
}

@-webkit-keyframes cssTwoFade{
	from { opacity:0; } to { opacity:1; }

}
@-moz-keyframes cssTwoFade{
	from { opacity:0; } to { opacity:1; } 
}
@keyframes cssTwoFade { 
		from { opacity:0; } to { opacity:1; } 
}

.cssThreeAnimation {
	opacity:0;
	-webkit-animation:cssThreeFade ease 1;
	-moz-animation:cssThreeFade ease 1;
	animation:cssThreeFade ease 1;

	-webkit-animation-duration:.25s;
	-moz-animation-duration:.25s;
	animation-duration:.25s;

	-webkit-animation-fill-mode:forwards;  
    -moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;

	-webkit-animation-delay:7s;
	-moz-animation-delay:7s;
	animation-delay:7s;
}

@-webkit-keyframes cssThreeFade{
	from { opacity:0; } to { opacity:1; }

}
@-moz-keyframes cssThreeFade{
	from { opacity:0; } to { opacity:1; } 
}
@keyframes cssThreeFade { 
		from { opacity:0; } to { opacity:1; } 
}

.cssFourAnimation {
	opacity:0;
	-webkit-animation:cssFourFade ease 1;
	-moz-animation:cssFourFade ease 1;
	animation:cssFourFade ease 1;

	-webkit-animation-duration:.25s;
	-moz-animation-duration:.25s;
	animation-duration:.25s;

	-webkit-animation-fill-mode:forwards;  
    -moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;

	-webkit-animation-delay:7.5s;
	-moz-animation-delay:7.5s;
	animation-delay:7.5s;
}

@-webkit-keyframes cssFourFade{
	from { opacity:0; } to { opacity:1; }

}
@-moz-keyframes cssFourFade{
	from { opacity:0; } to { opacity:1; } 
}
@keyframes cssFourFade { 
		from { opacity:0; } to { opacity:1; } 
}

.cssFiveAnimation {
	opacity:0;
	-webkit-animation:cssFiveFade ease 1;
	-moz-animation:cssFiveFade ease 1;
	animation:cssFiveFade ease 1;

	-webkit-animation-duration:.25s;
	-moz-animation-duration:.25s;
	animation-duration:.25s;

	-webkit-animation-fill-mode:forwards;  
    -moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;

	-webkit-animation-delay:8s;
	-moz-animation-delay:8s;
	animation-delay:8s;
}

@-webkit-keyframes cssFiveFade{
	from { opacity:0; } to { opacity:1; }

}
@-moz-keyframes cssFiveFade{
	from { opacity:0; } to { opacity:1; } 
}
@keyframes cssFiveFade { 
		from { opacity:0; } to { opacity:1; } 
}

// .cssSixAnimation {
// 	opacity:0;
// 	-webkit-animation:cssSixFade ease 1;
// 	-moz-animation:cssSixFade ease 1;
// 	animation:cssSixFade ease 1;

// 	-webkit-animation-duration:.25s;
// 	-moz-animation-duration:.25s;
// 	animation-duration:.25s;

// 	-webkit-animation-fill-mode:forwards;  
//     -moz-animation-fill-mode:forwards;
// 	animation-fill-mode:forwards;

// 	-webkit-animation-delay:17s;
// 	-moz-animation-delay:17s;
// 	animation-delay:17s;
// }

// @-webkit-keyframes cssSixFade{
// 	from { opacity:0; } to { opacity:1; }

// }
// @-moz-keyframes cssSixFade{
// 	from { opacity:0; } to { opacity:1; } 
// }
// @keyframes cssSixFade { 
// 		from { opacity:0; } to { opacity:1; } 
// }


// .cssSevenAnimation {
// 	opacity:0;
// 	-webkit-animation:cssSevenFade ease 1;
// 	-moz-animation:cssSevenFade ease 1;
// 	animation:cssSevenFade ease 1;

// 	-webkit-animation-duration:.25s;
// 	-moz-animation-duration:.25s;
// 	animation-duration:.25s;

// 	-webkit-animation-fill-mode:forwards;  
//     -moz-animation-fill-mode:forwards;
// 	animation-fill-mode:forwards;

// 	-webkit-animation-delay:18s;
// 	-moz-animation-delay:18s;
// 	animation-delay:18s;
// }

// @-webkit-keyframes cssSevenFade{
// 	from { opacity:0; } to { opacity:1; }

// }
// @-moz-keyframes cssSevenFade{
// 	from { opacity:0; } to { opacity:1; } 
// }
// @keyframes cssSevenFade { 
// 		from { opacity:0; } to { opacity:1; } 
// }

//java rate animation

.javaOneAnimation {
	opacity:0;
	-webkit-animation:javaOneFade ease 1;
	-moz-animation:javaOneFade ease 1;
	animation:javaOneFade ease 1;

	-webkit-animation-duration:.25s;
	-moz-animation-duration:.25s;
	animation-duration:.25s;

	-webkit-animation-fill-mode:forwards;  
    -moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;

	-webkit-animation-delay:9s;
	-moz-animation-delay:9s;
	animation-delay:9s;
}

@-webkit-keyframes javaOneFade{
	from { opacity:0; } to { opacity:1; }

}
@-moz-keyframes javaOneFade{
	from { opacity:0; } to { opacity:1; } 
}
@keyframes javaOneFade { 
		from { opacity:0; } to { opacity:1; } 
}

.javaTwoAnimation {
	opacity:0;
	-webkit-animation:javaTwoFade ease 1;
	-moz-animation:javaTwoFade ease 1;
	animation:javaTwoFade ease 1;

	-webkit-animation-duration:.25s;
	-moz-animation-duration:.25s;
	animation-duration:.25s;

	-webkit-animation-fill-mode:forwards;  
    -moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;

	-webkit-animation-delay:9.5s;
	-moz-animation-delay:9.5s;
	animation-delay:9.5s;
}

@-webkit-keyframes javaTwoFade{
	from { opacity:0; } to { opacity:1; }

}
@-moz-keyframes javaTwoFade{
	from { opacity:0; } to { opacity:1; } 
}
@keyframes javaTwoFade { 
		from { opacity:0; } to { opacity:1; } 
}

.javaThreeAnimation {
	opacity:0;
	-webkit-animation:javaThreeFade ease 1;
	-moz-animation:javaThreeFade ease 1;
	animation:javaThreeFade ease 1;

	-webkit-animation-duration:.25s;
	-moz-animation-duration:.25s;
	animation-duration:.25s;

	-webkit-animation-fill-mode:forwards;  
    -moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;

	-webkit-animation-delay:10s;
	-moz-animation-delay:10s;
	animation-delay:10s;
}

@-webkit-keyframes javaThreeFade{
	from { opacity:0; } to { opacity:1; }

}
@-moz-keyframes javaThreeFade{
	from { opacity:0; } to { opacity:1; } 
}
@keyframes javaThreeFade { 
		from { opacity:0; } to { opacity:1; } 
}

.javaFourAnimation {
	opacity:0;
	-webkit-animation:javaFourFade ease 1;
	-moz-animation:javaFourFade ease 1;
	animation:javaFourFade ease 1;

	-webkit-animation-duration:.25s;
	-moz-animation-duration:.25s;
	animation-duration:.25s;

	-webkit-animation-fill-mode:forwards;  
    -moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;

	-webkit-animation-delay:10.5s;
	-moz-animation-delay:10.5s;
	animation-delay:10.5s;
}

@-webkit-keyframes javaFourFade{
	from { opacity:0; } to { opacity:1; }

}
@-moz-keyframes javaFourFade{
	from { opacity:0; } to { opacity:1; } 
}
@keyframes javaFourFade { 
		from { opacity:0; } to { opacity:1; } 
}

.javaFiveAnimation {
	opacity:0;
	-webkit-animation:javaFiveFade ease 1;
	-moz-animation:javaFiveFade ease 1;
	animation:javaFiveFade ease 1;

	-webkit-animation-duration:.25s;
	-moz-animation-duration:.25s;
	animation-duration:.25s;

	-webkit-animation-fill-mode:forwards;  
    -moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;

	-webkit-animation-delay:11s;
	-moz-animation-delay:11s;
	animation-delay:11s;
}

@-webkit-keyframes javaFiveFade{
	from { opacity:0; } to { opacity:1; }

}
@-moz-keyframes javaFiveFade{
	from { opacity:0; } to { opacity:1; } 
}
@keyframes javaFiveFade { 
		from { opacity:0; } to { opacity:1; } 
}

// .javaSixAnimation {
// 	opacity:0;
// 	-webkit-animation:javaSixFade ease 1;
// 	-moz-animation:javaSixFade ease 1;
// 	animation:javaSixFade ease 1;

// 	-webkit-animation-duration:.25s;
// 	-moz-animation-duration:.25s;
// 	animation-duration:.25s;

// 	-webkit-animation-fill-mode:forwards;  
//     -moz-animation-fill-mode:forwards;
// 	animation-fill-mode:forwards;

// 	-webkit-animation-delay:10s;
// 	-moz-animation-delay:10s;
// 	animation-delay:10s;
// }

// @-webkit-keyframes javaSixFade{
// 	from { opacity:0; } to { opacity:1; }

// }
// @-moz-keyframes javaSixFade{
// 	from { opacity:0; } to { opacity:1; } 
// }
// @keyframes javaSixFade { 
// 		from { opacity:0; } to { opacity:1; } 
// }


// .javaSevenAnimation {
// 	opacity:0;
// 	-webkit-animation:javaSevenFade ease 1;
// 	-moz-animation:javaSevenFade ease 1;
// 	animation:javaSevenFade ease 1;

// 	-webkit-animation-duration:.25s;
// 	-moz-animation-duration:.25s;
// 	animation-duration:.25s;

// 	-webkit-animation-fill-mode:forwards;  
//     -moz-animation-fill-mode:forwards;
// 	animation-fill-mode:forwards;

// 	-webkit-animation-delay:11s;
// 	-moz-animation-delay:11s;
// 	animation-delay:11s;
// }

// @-webkit-keyframes javaSevenFade{
// 	from { opacity:0; } to { opacity:1; }

// }
// @-moz-keyframes javaSevenFade{
// 	from { opacity:0; } to { opacity:1; } 
// }
// @keyframes javaSevenFade { 
// 		from { opacity:0; } to { opacity:1; } 
// }

//jQuery animation
.jOneAnimation {
	opacity:0;
	-webkit-animation:jOneFade ease 1;
	-moz-animation:jOneFade ease 1;
	animation:jOneFade ease 1;

	-webkit-animation-duration:.25s;
	-moz-animation-duration:.25s;
	animation-duration:.25s;

	-webkit-animation-fill-mode:forwards;  
    -moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;

	-webkit-animation-delay:12s;
	-moz-animation-delay:12s;
	animation-delay:12s;
}

@-webkit-keyframes jOneFade{
	from { opacity:0; } to { opacity:1; }

}
@-moz-keyframes jOneFade{
	from { opacity:0; } to { opacity:1; } 
}
@keyframes jOneFade { 
		from { opacity:0; } to { opacity:1; } 
}

.jTwoAnimation {
	opacity:0;
	-webkit-animation:jTwoFade ease 1;
	-moz-animation:jTwoFade ease 1;
	animation:jTwoFade ease 1;

	-webkit-animation-duration:.25s;
	-moz-animation-duration:.25s;
	animation-duration:.25s;

	-webkit-animation-fill-mode:forwards;  
    -moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;

	-webkit-animation-delay:12.5s;
	-moz-animation-delay:12.5s;
	animation-delay:12.5s;
}

@-webkit-keyframes jTwoFade{
	from { opacity:0; } to { opacity:1; }

}
@-moz-keyframes jTwoFade{
	from { opacity:0; } to { opacity:1; } 
}
@keyframes jTwoFade { 
		from { opacity:0; } to { opacity:1; } 
}

.jThreeAnimation {
	opacity:0;
	-webkit-animation:jThreeFade ease 1;
	-moz-animation:jThreeFade ease 1;
	animation:jThreeFade ease 1;

	-webkit-animation-duration:.25s;
	-moz-animation-duration:.25s;
	animation-duration:.25s;

	-webkit-animation-fill-mode:forwards;  
    -moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;

	-webkit-animation-delay:13s;
	-moz-animation-delay:13s;
	animation-delay:13s;
}

@-webkit-keyframes jThreeFade{
	from { opacity:0; } to { opacity:1; }

}
@-moz-keyframes jThreeFade{
	from { opacity:0; } to { opacity:1; } 
}
@keyframes jThreeFade { 
		from { opacity:0; } to { opacity:1; } 
}

.jFourAnimation {
	opacity:0;
	-webkit-animation:jFourFade ease 1;
	-moz-animation:jFourFade ease 1;
	animation:jFourFade ease 1;

	-webkit-animation-duration:.25s;
	-moz-animation-duration:.25s;
	animation-duration:.25s;

	-webkit-animation-fill-mode:forwards;  
    -moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;

	-webkit-animation-delay:13.5s;
	-moz-animation-delay:13.5s;
	animation-delay:13.5s;
}

@-webkit-keyframes jFourFade{
	from { opacity:0; } to { opacity:1; }

}
@-moz-keyframes jFourFade{
	from { opacity:0; } to { opacity:1; } 
}
@keyframes jFourFade { 
		from { opacity:0; } to { opacity:1; } 
}

.jFiveAnimation {
	opacity:0;
	-webkit-animation:jFiveFade ease 1;
	-moz-animation:jFiveFade ease 1;
	animation:jFiveFade ease 1;

	-webkit-animation-duration:.25s;
	-moz-animation-duration:.25s;
	animation-duration:.25s;

	-webkit-animation-fill-mode:forwards;  
    -moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;

	-webkit-animation-delay:14s;
	-moz-animation-delay:14s;
	animation-delay:14s;
}

@-webkit-keyframes jFiveFade{
	from { opacity:0; } to { opacity:1; }

}
@-moz-keyframes jFiveFade{
	from { opacity:0; } to { opacity:1; } 
}
@keyframes jFiveFade { 
		from { opacity:0; } to { opacity:1; } 
}

// .jSixAnimation {
// 	opacity:0;
// 	-webkit-animation:jSixFade ease 1;
// 	-moz-animation:jSixFade ease 1;
// 	animation:jSixFade ease 1;

// 	-webkit-animation-duration:.25s;
// 	-moz-animation-duration:.25s;
// 	animation-duration:.25s;

// 	-webkit-animation-fill-mode:forwards;  
//     -moz-animation-fill-mode:forwards;
// 	animation-fill-mode:forwards;

// 	-webkit-animation-delay:10s;
// 	-moz-animation-delay:10s;
// 	animation-delay:10s;
// }

// @-webkit-keyframes jSixFade{
// 	from { opacity:0; } to { opacity:1; }

// }
// @-moz-keyframes jSixFade{
// 	from { opacity:0; } to { opacity:1; } 
// }
// @keyframes jSixFade { 
// 		from { opacity:0; } to { opacity:1; } 
// }


// .jSevenAnimation {
// 	opacity:0;
// 	-webkit-animation:jSevenFade ease 1;
// 	-moz-animation:jSevenFade ease 1;
// 	animation:jSevenFade ease 1;

// 	-webkit-animation-duration:.25s;
// 	-moz-animation-duration:.25s;
// 	animation-duration:.25s;

// 	-webkit-animation-fill-mode:forwards;  
//     -moz-animation-fill-mode:forwards;
// 	animation-fill-mode:forwards;

// 	-webkit-animation-delay:11s;
// 	-moz-animation-delay:11s;
// 	animation-delay:11s;
// }

// @-webkit-keyframes jSevenFade{
// 	from { opacity:0; } to { opacity:1; }

// }
// @-moz-keyframes jSevenFade{
// 	from { opacity:0; } to { opacity:1; } 
// }
// @keyframes jSevenFade { 
// 		from { opacity:0; } to { opacity:1; } 
// }

//angular animation
.angOneAnimation {
	opacity:0;
	-webkit-animation:angOneFade ease 1;
	-moz-animation:angOneFade ease 1;
	animation:angOneFade ease 1;

	-webkit-animation-duration:.25s;
	-moz-animation-duration:.25s;
	animation-duration:.25s;

	-webkit-animation-fill-mode:forwards;  
    -moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;

	-webkit-animation-delay:15s;
	-moz-animation-delay:15s;
	animation-delay:15s;
}

@-webkit-keyframes angOneFade{
	from { opacity:0; } to { opacity:1; }

}
@-moz-keyframes angOneFade{
	from { opacity:0; } to { opacity:1; } 
}
@keyframes angOneFade { 
		from { opacity:0; } to { opacity:1; } 
}

.angTwoAnimation {
	opacity:0;
	-webkit-animation:angTwoFade ease 1;
	-moz-animation:angTwoFade ease 1;
	animation:angTwoFade ease 1;

	-webkit-animation-duration:.25s;
	-moz-animation-duration:.25s;
	animation-duration:.25s;

	-webkit-animation-fill-mode:forwards;  
    -moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;

	-webkit-animation-delay:15.5s;
	-moz-animation-delay:15.5s;
	animation-delay:15.5s;
}

@-webkit-keyframes angTwoFade{
	from { opacity:0; } to { opacity:1; }

}
@-moz-keyframes angTwoFade{
	from { opacity:0; } to { opacity:1; } 
}
@keyframes angTwoFade { 
		from { opacity:0; } to { opacity:1; } 
}

.angThreeAnimation {
	opacity:0;
	-webkit-animation:angThreeFade ease 1;
	-moz-animation:angThreeFade ease 1;
	animation:angThreeFade ease 1;

	-webkit-animation-duration:.25s;
	-moz-animation-duration:.25s;
	animation-duration:.25s;

	-webkit-animation-fill-mode:forwards;  
    -moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;

	-webkit-animation-delay:16s;
	-moz-animation-delay:16s;
	animation-delay:16s;
}

@-webkit-keyframes angThreeFade{
	from { opacity:0; } to { opacity:1; }

}
@-moz-keyframes angThreeFade{
	from { opacity:0; } to { opacity:1; } 
}
@keyframes angThreeFade { 
		from { opacity:0; } to { opacity:1; } 
}

.angFourAnimation {
	opacity:0;
	-webkit-animation:angFourFade ease 1;
	-moz-animation:angFourFade ease 1;
	animation:angFourFade ease 1;

	-webkit-animation-duration:.25s;
	-moz-animation-duration:.25s;
	animation-duration:.25s;

	-webkit-animation-fill-mode:forwards;  
    -moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;

	-webkit-animation-delay:16.5s;
	-moz-animation-delay:16.5s;
	animation-delay:16.5s;
}

@-webkit-keyframes angFourFade{
	from { opacity:0; } to { opacity:1; }

}
@-moz-keyframes angFourFade{
	from { opacity:0; } to { opacity:1; } 
}
@keyframes angFourFade { 
		from { opacity:0; } to { opacity:1; } 
}

.angFiveAnimation {
	opacity:0;
	-webkit-animation:angFiveFade ease 1;
	-moz-animation:angFiveFade ease 1;
	animation:angFiveFade ease 1;

	-webkit-animation-duration:.25s;
	-moz-animation-duration:.25s;
	animation-duration:.25s;

	-webkit-animation-fill-mode:forwards;  
    -moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;

	-webkit-animation-delay:17s;
	-moz-animation-delay:17s;
	animation-delay:17s;
}

@-webkit-keyframes angFiveFade{
	from { opacity:0; } to { opacity:1; }

}
@-moz-keyframes angFiveFade{
	from { opacity:0; } to { opacity:1; } 
}
@keyframes angFiveFade { 
		from { opacity:0; } to { opacity:1; } 
}

// .angSixAnimation {
// 	opacity:0;
// 	-webkit-animation:angSixFade ease 1;
// 	-moz-animation:angSixFade ease 1;
// 	animation:angSixFade ease 1;

// 	-webkit-animation-duration:.25s;
// 	-moz-animation-duration:.25s;
// 	animation-duration:.25s;

// 	-webkit-animation-fill-mode:forwards;  
//     -moz-animation-fill-mode:forwards;
// 	animation-fill-mode:forwards;

// 	-webkit-animation-delay:10s;
// 	-moz-animation-delay:10s;
// 	animation-delay:10s;
// }

// @-webkit-keyframes angSixFade{
// 	from { opacity:0; } to { opacity:1; }

// }
// @-moz-keyframes angSixFade{
// 	from { opacity:0; } to { opacity:1; } 
// }
// @keyframes angSixFade { 
// 		from { opacity:0; } to { opacity:1; } 
// }


// .angSevenAnimation {
// 	opacity:0;
// 	-webkit-animation:angSevenFade ease 1;
// 	-moz-animation:angSevenFade ease 1;
// 	animation:angSevenFade ease 1;

// 	-webkit-animation-duration:.25s;
// 	-moz-animation-duration:.25s;
// 	animation-duration:.25s;

// 	-webkit-animation-fill-mode:forwards;  
//     -moz-animation-fill-mode:forwards;
// 	animation-fill-mode:forwards;

// 	-webkit-animation-delay:11s;
// 	-moz-animation-delay:11s;
// 	animation-delay:11s;
// }

// @-webkit-keyframes angSevenFade{
// 	from { opacity:0; } to { opacity:1; }

// }
// @-moz-keyframes angSevenFade{
// 	from { opacity:0; } to { opacity:1; } 
// }
// @keyframes angSevenFade { 
// 		from { opacity:0; } to { opacity:1; } 
// }

//photoshop animation
.photoOneAnimation {
	opacity:0;
	-webkit-animation:photoOneFade ease 1;
	-moz-animation:photoOneFade ease 1;
	animation:photoOneFade ease 1;

	-webkit-animation-duration:.25s;
	-moz-animation-duration:.25s;
	animation-duration:.25s;

	-webkit-animation-fill-mode:forwards;  
    -moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;

	-webkit-animation-delay:18s;
	-moz-animation-delay:18s;
	animation-delay:18s;
}

@-webkit-keyframes photoOneFade{
	from { opacity:0; } to { opacity:1; }

}
@-moz-keyframes photoOneFade{
	from { opacity:0; } to { opacity:1; } 
}
@keyframes photoOneFade { 
		from { opacity:0; } to { opacity:1; } 
}

.photoTwoAnimation {
	opacity:0;
	-webkit-animation:photoTwoFade ease 1;
	-moz-animation:photoTwoFade ease 1;
	animation:photoTwoFade ease 1;

	-webkit-animation-duration:.25s;
	-moz-animation-duration:.25s;
	animation-duration:.25s;

	-webkit-animation-fill-mode:forwards;  
    -moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;

	-webkit-animation-delay:18.5s;
	-moz-animation-delay:18.5s;
	animation-delay:18.5s;
}

@-webkit-keyframes photoTwoFade{
	from { opacity:0; } to { opacity:1; }

}
@-moz-keyframes photoTwoFade{
	from { opacity:0; } to { opacity:1; } 
}
@keyframes photoTwoFade { 
		from { opacity:0; } to { opacity:1; } 
}

.photoThreeAnimation {
	opacity:0;
	-webkit-animation:photoThreeFade ease 1;
	-moz-animation:photoThreeFade ease 1;
	animation:photoThreeFade ease 1;

	-webkit-animation-duration:.25s;
	-moz-animation-duration:.25s;
	animation-duration:.25s;

	-webkit-animation-fill-mode:forwards;  
    -moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;

	-webkit-animation-delay:19s;
	-moz-animation-delay:19s;
	animation-delay:19s;
}

@-webkit-keyframes photoThreeFade{
	from { opacity:0; } to { opacity:1; }

}
@-moz-keyframes photoThreeFade{
	from { opacity:0; } to { opacity:1; } 
}
@keyframes photoThreeFade { 
		from { opacity:0; } to { opacity:1; } 
}

.photoFourAnimation {
	opacity:0;
	-webkit-animation:photoFourFade ease 1;
	-moz-animation:photoFourFade ease 1;
	animation:photoFourFade ease 1;

	-webkit-animation-duration:.25s;
	-moz-animation-duration:.25s;
	animation-duration:.25s;

	-webkit-animation-fill-mode:forwards;  
    -moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;

	-webkit-animation-delay:19.5s;
	-moz-animation-delay:19.5s;
	animation-delay:19.5s;
}

@-webkit-keyframes photoFourFade{
	from { opacity:0; } to { opacity:1; }

}
@-moz-keyframes photoFourFade{
	from { opacity:0; } to { opacity:1; } 
}
@keyframes photoFourFade { 
		from { opacity:0; } to { opacity:1; } 
}

.photoFiveAnimation {
	opacity:0;
	-webkit-animation:photoFiveFade ease 1;
	-moz-animation:photoFiveFade ease 1;
	animation:photoFiveFade ease 1;

	-webkit-animation-duration:.25s;
	-moz-animation-duration:.25s;
	animation-duration:.25s;

	-webkit-animation-fill-mode:forwards;  
    -moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;

	-webkit-animation-delay:20s;
	-moz-animation-delay:20s;
	animation-delay:20s;
}

@-webkit-keyframes photoFiveFade{
	from { opacity:0; } to { opacity:1; }

}
@-moz-keyframes photoFiveFade{
	from { opacity:0; } to { opacity:1; } 
}
@keyframes photoFiveFade { 
		from { opacity:0; } to { opacity:1; } 
}

// .photoSixAnimation {
// 	opacity:0;
// 	-webkit-animation:photoSixFade ease 1;
// 	-moz-animation:photoSixFade ease 1;
// 	animation:photoSixFade ease 1;

// 	-webkit-animation-duration:.25s;
// 	-moz-animation-duration:.25s;
// 	animation-duration:.25s;

// 	-webkit-animation-fill-mode:forwards;  
//     -moz-animation-fill-mode:forwards;
// 	animation-fill-mode:forwards;

// 	-webkit-animation-delay:10s;
// 	-moz-animation-delay:10s;
// 	animation-delay:10s;
// }

// @-webkit-keyframes photoSixFade{
// 	from { opacity:0; } to { opacity:1; }

// }
// @-moz-keyframes photoSixFade{
// 	from { opacity:0; } to { opacity:1; } 
// }
// @keyframes photoSixFade { 
// 		from { opacity:0; } to { opacity:1; } 
// }


// .photoSevenAnimation {
// 	opacity:0;
// 	-webkit-animation:photoSevenFade ease 1;
// 	-moz-animation:photoSevenFade ease 1;
// 	animation:photoSevenFade ease 1;

// 	-webkit-animation-duration:.25s;
// 	-moz-animation-duration:.25s;
// 	animation-duration:.25s;

// 	-webkit-animation-fill-mode:forwards;  
//     -moz-animation-fill-mode:forwards;
// 	animation-fill-mode:forwards;

// 	-webkit-animation-delay:11s;
// 	-moz-animation-delay:11s;
// 	animation-delay:11s;
// }

// @-webkit-keyframes photoSevenFade{
// 	from { opacity:0; } to { opacity:1; }

// }
// @-moz-keyframes photoSevenFade{
// 	from { opacity:0; } to { opacity:1; } 
// }
// @keyframes photoSevenFade { 
// 		from { opacity:0; } to { opacity:1; } 
// }

//design animation
.designOneAnimation {
	opacity:0;
	-webkit-animation:designOneFade ease 1;
	-moz-animation:designOneFade ease 1;
	animation:designOneFade ease 1;

	-webkit-animation-duration:.25s;
	-moz-animation-duration:.25s;
	animation-duration:.25s;

	-webkit-animation-fill-mode:forwards;  
    -moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;

	-webkit-animation-delay:21s;
	-moz-animation-delay:21s;
	animation-delay:21s;
}

@-webkit-keyframes designOneFade{
	from { opacity:0; } to { opacity:1; }

}
@-moz-keyframes designOneFade{
	from { opacity:0; } to { opacity:1; } 
}
@keyframes designOneFade { 
		from { opacity:0; } to { opacity:1; } 
}

.designTwoAnimation {
	opacity:0;
	-webkit-animation:designTwoFade ease 1;
	-moz-animation:designTwoFade ease 1;
	animation:designTwoFade ease 1;

	-webkit-animation-duration:.25s;
	-moz-animation-duration:.25s;
	animation-duration:.25s;

	-webkit-animation-fill-mode:forwards;  
    -moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;

	-webkit-animation-delay:21.5s;
	-moz-animation-delay:21.5s;
	animation-delay:21.5s;
}

@-webkit-keyframes designTwoFade{
	from { opacity:0; } to { opacity:1; }

}
@-moz-keyframes designTwoFade{
	from { opacity:0; } to { opacity:1; } 
}
@keyframes designTwoFade { 
		from { opacity:0; } to { opacity:1; } 
}

.designThreeAnimation {
	opacity:0;
	-webkit-animation:desginThreeFade ease 1;
	-moz-animation:desginThreeFade ease 1;
	animation:desginThreeFade ease 1;

	-webkit-animation-duration:.25s;
	-moz-animation-duration:.25s;
	animation-duration:.25s;

	-webkit-animation-fill-mode:forwards;  
    -moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;

	-webkit-animation-delay:22s;
	-moz-animation-delay:22s;
	animation-delay:22s;
}

@-webkit-keyframes desginThreeFade{
	from { opacity:0; } to { opacity:1; }

}
@-moz-keyframes desginThreeFade{
	from { opacity:0; } to { opacity:1; } 
}
@keyframes desginThreeFade { 
		from { opacity:0; } to { opacity:1; } 
}

.designFourAnimation {
	opacity:0;
	-webkit-animation:designFourFade ease 1;
	-moz-animation:designFourFade ease 1;
	animation:designFourFade ease 1;

	-webkit-animation-duration:.25s;
	-moz-animation-duration:.25s;
	animation-duration:.25s;

	-webkit-animation-fill-mode:forwards;  
    -moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;

	-webkit-animation-delay:22.5s;
	-moz-animation-delay:22.5s;
	animation-delay:22.5s;
}

@-webkit-keyframes designFourFade{
	from { opacity:0; } to { opacity:1; }

}
@-moz-keyframes designFourFade{
	from { opacity:0; } to { opacity:1; } 
}
@keyframes designFourFade { 
		from { opacity:0; } to { opacity:1; } 
}

.designFiveAnimation {
	opacity:0;
	-webkit-animation:designFiveFade ease 1;
	-moz-animation:designFiveFade ease 1;
	animation:designFiveFade ease 1;

	-webkit-animation-duration:.25s;
	-moz-animation-duration:.25s;
	animation-duration:.25s;

	-webkit-animation-fill-mode:forwards;  
    -moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;

	-webkit-animation-delay:23s;
	-moz-animation-delay:23s;
	animation-delay:23s;
}

@-webkit-keyframes designFiveFade{
	from { opacity:0; } to { opacity:1; }

}
@-moz-keyframes designFiveFade{
	from { opacity:0; } to { opacity:1; } 
}
@keyframes designFiveFade { 
		from { opacity:0; } to { opacity:1; } 
}

// .designSixAnimation {
// 	opacity:0;
// 	-webkit-animation:designSixFade ease 1;
// 	-moz-animation:designSixFade ease 1;
// 	animation:designSixFade ease 1;

// 	-webkit-animation-duration:.25s;
// 	-moz-animation-duration:.25s;
// 	animation-duration:.25s;

// 	-webkit-animation-fill-mode:forwards;  
//     -moz-animation-fill-mode:forwards;
// 	animation-fill-mode:forwards;

// 	-webkit-animation-delay:10s;
// 	-moz-animation-delay:10s;
// 	animation-delay:10s;
// }

// @-webkit-keyframes designSixFade{
// 	from { opacity:0; } to { opacity:1; }

// }
// @-moz-keyframes designSixFade{
// 	from { opacity:0; } to { opacity:1; } 
// }
// @keyframes designSixFade { 
// 		from { opacity:0; } to { opacity:1; } 
// }


// .designSevenAnimation {
// 	opacity:0;
// 	-webkit-animation:designSevenFade ease 1;
// 	-moz-animation:designSevenFade ease 1;
// 	animation:designSevenFade ease 1;

// 	-webkit-animation-duration:.25s;
// 	-moz-animation-duration:.25s;
// 	animation-duration:.25s;

// 	-webkit-animation-fill-mode:forwards;  
//     -moz-animation-fill-mode:forwards;
// 	animation-fill-mode:forwards;

// 	-webkit-animation-delay:11s;
// 	-moz-animation-delay:11s;
// 	animation-delay:11s;
// }

// @-webkit-keyframes designSevenFade{
// 	from { opacity:0; } to { opacity:1; }

// }
// @-moz-keyframes designSevenFade{
// 	from { opacity:0; } to { opacity:1; } 
// }
// @keyframes designSevenFade { 
// 		from { opacity:0; } to { opacity:1; } 
// }