#skills .skills {
	opacity:0;

	margin-top:130px;
	// background-color:darken($lightgray,15);
}

h1.skillsIntro{
	color:$mainpurple;
	// text-align:center;
	font-family:$fontOne;
	font-size:45px;
	margin-top:30px;
}

ul.technicalList{
	margin-top:17px;
	//float:right;
	text-align:left;
	
	li.technicalItem{
		display:block;
		font-family: $fontOne;
		color:$mainpurple;
		font-size: 21px;
		margin-top: 15px;
	}
}

ul.rateList{
	margin-top:17px;

	li.rateItem{
		display:block;
		color:$mainpurple;
		font-size: 21px;
		margin-top: 15px;

	}
}

.rateItem i{
	text-shadow:2px 2px #888;
}

//animation for blob
.fadeRateAnimation{
	opacity:0;
	-webkit-animation:rateFade ease-in 1;
	-moz-animation:rateFade ease-in 1;
	animation:rateFade ease-in 1;

	-webkit-animation-duration:.25s;
	-moz-animation-duration:.25s;
	animation-duration:.25s;

	-webkit-animation-fill-mode:forwards;  
    -moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;

	-webkit-animation-delay:2.5s;
	-moz-animation-delay:2.5s;
	animation-delay:2.5s;
}

@-webkit-keyframes rateFade{
	from { opacity:0; } to { opacity:1; } 
}

@-moz-keyframes rateFade{
	from { opacity:0; } to { opacity:1; } 
}

@keyframes rateFade { 
		from { opacity:0; } to { opacity:1; } 
}

.rateSlideAnimation {
	-webkit-animation-name:slideDown;
	-moz-animation-name:slideDown;
	animation-name:slideDown;

	-webkit-animation-duration:8s;
	-moz-animation-duration:8s;
	animation-duration:8s;

	-webkit-animation-timing-function:linear;
	-moz-animation-timing-function:linear;
	animation-timing-function:linear;

	-webkit-animation-delay:1s;
	-moz-animation-delay:1s;
	animation-delay:1s;

	-webkit-animation-iteration-count:1;
	-moz-animation-iteration-count:1;
	animation-iteration-count:1;

	-webkit-animation-fill-mode:forwards;  
    -moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;
	}

@-webkit-keyframes slideDown {
	0% {
		padding-top:8px;
		
	}
	25% {
		padding-top:48px;
		
	}
	50% {
		padding-top:168px;
		
	}
	75% {
		padding-top: 224px;

	}
	// 64% {
	// 	margin-left:283px;
	// 	opacity:0;
	// }
	// 80% {
	// 	margin-left:338px;
	// 	opacity:0;
	// }
	100% {
		padding-top:300px;
		
	}
}

@-moz-keyframes slideDown {
	0% {
		padding-top:8px;
		
	}
	25% {
		padding-top:48px;
		
	}
	50% {
		padding-top:168px;
		
	}
	75% {
		padding-top: 224px;

	}
	// 64% {
	// 	margin-left:283px;
	// 	opacity:0;
	// }
	// 80% {
	// 	margin-left:338px;
	// 	opacity:0;
	// }
	100% {
		padding-top:300px;
		
	}
}

@keyframes slideDown {
	0% {
		padding-top:8px;
		
	}
	25% {
		padding-top:48px;
		
	}
	50% {
		padding-top:168px;
		
	}
	75% {
		padding-top: 224px;

	}
	// 64% {
	// 	margin-left:283px;
	// 	opacity:0;
	// }
	// 80% {
	// 	margin-left:338px;
	// 	opacity:0;
	// }
	100% {
		padding-top:300px;
		
	}
}

//animation for about bubbles
@-webkit-keyframes smallSkillsFade{
	from { opacity:0; } to { opacity:1; } 
}
@-moz-keyframes smallSkillsFade{
	from { opacity:0; } to { opacity:1; } 
}
@keyframes smallSkillsFade { 
		from { opacity:0; } to { opacity:1; } 
}
.smallSkillsAnimation{
	opacity:0;
	-webkit-animation:smallSkillsFade ease-in 1;
	-moz-animation:smallSkillsFade ease-in 1;
	animation:smallSkillsFade ease-in 1;

	-webkit-animation-duration:.25s;
	-moz-animation-duration:.25s;
	animation-duration:.25s;

	-webkit-animation-fill-mode:forwards;  
    -moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;

	-webkit-animation-delay:.5s;
	-moz-animation-delay:.5s;
	animation-delay:.5s;
}

@-webkit-keyframes medSkillsFade{
	from { opacity:0; } to { opacity:1; } 
}
@-moz-keyframes medSkillsFade{
	from { opacity:0; } to { opacity:1; } 
}
@keyframes medSkillsFade { 
		from { opacity:0; } to { opacity:1; } 
}

.medSkillsAnimation{
	opacity:0;
	-webkit-animation:medSkillsFade ease-in 1;
	-moz-animation:medSkillsFade ease-in 1;
	animation:medSkillsFade ease-in 1;

	-webkit-animation-duration:.5s;
	-moz-animation-duration:.5s;
	animation-duration:.5s;

	-webkit-animation-fill-mode:forwards;  
    -moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;

	-webkit-animation-delay:1s;
	-moz-animation-delat:1s;
	animation-delay:1s;
}

@-webkit-keyframes lgSkillsFade{
	from { opacity:0; } to { opacity:1; }

}
@-moz-keyframes lgSkillsFade{
	from { opacity:0; } to { opacity:1; } 
}
@keyframes lgSkillsFade { 
		from { opacity:0; } to { opacity:1; } 
}
.skillsBubbleAnimation{
	opacity:0;
	-webkit-animation:lgSkillsFade ease-in 1;
	-moz-animation:lgSkillsFade ease-in 1;
	animation:lgSkillsFade ease-in 1;

	-webkit-animation-duration:1s;
	-moz-animation-duration:1s;
	animation-duration:1s;

	-webkit-animation-fill-mode:forwards;  
    -moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;

	-webkit-animation-delay:1.5s;
	-moz-animation-delay:1.5s;
	animation-delay:1.5s;
}

