//helloThought bubble
.helloBubble {
  position: relative;
  width: 453px;
  height: 261px;
  text-align: center;
  line-height: 100px;
  background-color: #fff;
  border: 8px solid #666;
  -webkit-border-radius:145px;
  -moz-border-radius:145px;
  border-radius: 145px;
  -webkit-box-shadow:2px 2px 4px #888;
  -moz-box-shadow:2px 2px 4px #888;
  box-shadow: 2px 2px 4px #888;
  margin-left:35%;
  //margin:0 auto;
  margin-top: 30px;
  
}

.medHello{
  content: ' ';	
  margin-left: 39%;
  margin-top: -45px;
  width: 88px;
  height: 88px;
  background-color: #fff;
  border: 8px solid #666;
  -webkit-border-radius: 58px;
  -moz-border-radius: 58px;
  border-radius: 58px;
  position:absolute;
}

.smallHello{
  background-color: #fff;
  border: 8px solid #666;
  width: 52px;
  height: 52px;
  margin-left: 42%;
  margin-top: 15px;
  -webkit-border-radius: 58px;
  -moz-border-radius: 58px;
  border-radius: 58px;
  position:absolute;
}

//workThought bubble
.workBubble {
  position: relative;
  width: 299px;
  height: 152px;
  text-align: center;
  line-height: 100px;
  background-color: #fff;
  border: 8px solid #666;
  -webkit-border-radius:145px;
  -moz-border-radius:145px;
  border-radius: 145px;
  -webkit-box-shadow:2px 2px 4px #888;
  -moz-box-shadow:2px 2px 4px #888;
  box-shadow: 2px 2px 4px #888;
  float:right;
  margin-right: 26%;
  margin-top: 98px;
  margin-bottom: 40px;
  
}

.medWork{
  content: ' '; 
  margin-left: 48%;
  margin-top: 212px;
  width: 67px;
  height: 67px;
  background-color: #fff;
  border: 8px solid #666;
  -webkit-border-radius: 58px;
  -moz-border-radius: 58px;
  border-radius: 58px;
  position:absolute;
}

.smallWork {
  background-color: #fff;
  border: 8px solid #666;
  width: 47px;
  height: 47px;
  margin-left: 44%;
  margin-top:243px;
  -webkit-border-radius: 58px;
  -moz-border-radius: 58px;
  border-radius: 58px;
  position:absolute;
}

// about bubbles
.aboutBubble {
  position: relative;
  width: 468px;
  height: 265px;
  text-align: center;
  line-height: 100px;
  background-color: #fff;
  border: 8px solid #666;
  -webkit-border-radius:145px;
  -moz-border-radius:145px;
  border-radius: 145px;
  -webkit-box-shadow:2px 2px 4px #888;
  -moz-box-shadow:2px 2px 4px #888;
  box-shadow: 2px 2px 4px #888;
  margin-left:144px;
  margin-top:98px;
}

.medAbout{
  content: ' '; 
  margin-left: 494px;
  margin-top: -55px;
  width: 110px;
  height: 110px;
  background-color: #fff;
  border: 8px solid #666;
  -webkit-border-radius: 58px;
  -moz-border-radius: 58px;
  border-radius: 58px;
  position:absolute;
}

.smallAbout{
  background-color: #fff;
  border: 8px solid #666;
  width: 60px;
  height: 60px;
  margin-left: 633px;
  margin-top: 56px;
  -webkit-border-radius: 58px;
  -moz-border-radius: 58px;
  border-radius: 58px;
  position:absolute;
}

// //skills bubble
.skillsBubble{
  position: relative;
  width: 250px;
  height: 154px;
  text-align: center;
  line-height: 100px;
  background-color: #fff;
  border: 8px solid #666;
  -webkit-border-radius:145px;
  -moz-border-radius:145px;
  border-radius: 145px;
  -webkit-box-shadow:2px 2px 4px #888;
  -moz-box-shadow:2px 2px 4px #888;
  box-shadow: 2px 2px 4px #888;
  margin-left:59%;

  margin-bottom: 40px;
  margin-top: 98px;
}

.medSkills{
  content: ' '; 
  margin-left: 700px;
  margin-top: 207px;
  width: 66px;
  height: 66px;
  background-color: #fff;
  border: 8px solid #666;
  -webkit-border-radius: 58px;
  -moz-border-radius: 58px;
  border-radius: 58px;
  position:absolute;
}

.smallSkills {
  background-color: #fff;
  border: 8px solid #666;
  width: 36px;
  height: 36px;
  margin-left: 686px;
  margin-top: 243px;
  -webkit-border-radius: 58px;
  -moz-border-radius: 58px;
  border-radius: 58px;
  position:absolute;
}

//contact bubble
.contactBubble {
  margin-top: 30px;
  margin-bottom: 30px;
  position: relative;
  width: 262px;
  height: 174px;
  text-align: center;
  line-height: 100px;
  background-color: #fff;
  border: 8px solid #666;
   -webkit-border-radius:145px;
  -moz-border-radius:145px;
  border-radius: 145px;
  -webkit-box-shadow:2px 2px 4px #888;
  -moz-box-shadow:2px 2px 4px #888;
  box-shadow: 2px 2px 4px #888;
  margin-left:162px

}

.contactBubble:before, .contactBubble:after{
  content: ' '; 
  margin-left: 58px;
  margin-top: 110px;
  width: 68px;
  height: 68px;
  background-color: #fff;
  border: 8px solid #666;
  -webkit-border-radius: 58px;
  -moz-border-radius: 58px;
  border-radius: 58px;
  position:absolute;
}

.contactBubble:after {
  width: 44px;
  height: 44px;
  margin-left: 128px;
  margin-top: 30px;
  -webkit-border-radius: 58px;
  -moz-border-radius: 58px;
  border-radius: 58px;
  position:absolute;
}