#work .work{
	opacity:0;
	margin-top:130px;
	// background-color:darken($lightgray, 5);
}

h1.workIntro{
	color:$mainpurple;
	// text-align:center;
	font-family:$fontOne;
	font-size:35px;
	margin-top:44px;	
	// padding:20px;
}

li img.park,.marvel,.tee,.bob{
	width:609px;
}


li.appSkills{
	display:inline-block;
	h5{
		font-family:$fontOne;
		font-size: 18px;
		color:$mainpurple;
		border:4px solid $bubblegray;
		border-radius:22px;
		padding:6px;
		margin-top:5px;
		margin-bottom: 5px;
	}

}

.arrowView{
	text-align:center;
}

h2.appAbout, .appUsed, .viewApp{
	font-size:30px;
	font-family:$fontOne;
	color:$mainpurple;
	
}

a.appLink {
	font-family:$fontOne;
	color:$bubblegray;
	text-decoration:none;
}

.appLink h6{
	font-size:20px;
	text-align:center;
	
	&:hover{
		color:rgba(106,44,180,1);
			transition:color 800ms ease;
	}
}

p.appInfo{
	font-size:18px;
	font-family:$fontOne;
	color:$bubblegray;
	margin-left:34px;
	margin-right:34px;
}


.arrowAbout li{
	display:inline-block;
}

.arrowUsed li {
	display:inline-block;
}

.arrowView li {
	display:inline-block;
}

//animation for blob
.meWorkFadeAnimation{
	opacity:0;
	-webkit-animation:pop-in 1s;
	-moz-animation:pop-in 1s;
	animation:pop-in 1s;

	-webkit-animation-duration:1.5s;
	-moz-animation-duration:1.5s;
	animation-duration:1.5s;

	-webkit-animation-fill-mode:forwards;  
    -moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;
}

@-webkit-keyframes pop-in {
0% { opacity: 1; -webkit-transform: scale(0.5); }
100% { opacity: 0; -webkit-transform: scale(1); }
}
@-moz-keyframes pop-in {
0% { opacity: 1; -moz-transform: scale(0.5); }
100% { opacity: 0; -moz-transform: scale(1); }
}
@keyframes pop-in {
0% { opacity: 1; transform: scale(0.5); }
100% { opacity: 0; transform: scale(1); }
}

//animation appear next to bubbles
.meAppearAnimation{
	opacity:0;
	-webkit-animation:pop-in-two 0.5s;
	-moz-animation:pop-in-two 0.5s;
	animation:pop-in-two 0.5s;

	-webkit-animation-duration:1s;
	-moz-animation-duration:1s;
	animation-duration:1s;

	-webkit-animation-delay:1s;
	-moz-animation-delay:1s;
	animation-delay:1s;

	-webkit-animation-fill-mode:forwards;  
    -moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;
}

@-webkit-keyframes pop-in-two {
0% { opacity: 0; -webkit-transform: scale(0.5); }
100% { opacity: 1; -webkit-transform: scale(1.5); }
}
@-moz-keyframes pop-in-two {
0% { opacity: 0; -moz-transform: scale(0.5); }
100% { opacity: 1; -moz-transform: scale(1.5); }
}
@keyframes pop-in-two {
0% { opacity: 0; transform: scale(0.5); }
100% { opacity: 1; transform: scale(1.5); }
}
//animation for slider
.workSliderAnimation{
	opacity:0;
	-webkit-animation:sliderFade ease 1;
	-moz-animation:sliderFade ease 1;
	animation:sliderFade ease 1;

	-webkit-animation-duration:1s;
	-moz-animation-duration:1s;
	animation-duration:1s;

	-webkit-animation-fill-mode:forwards;  
    -moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;

	-webkit-animation-delay:2s;
	-moz-animation-delay:2s;
	animation-delay:2s;
}

@-webkit-keyframes sliderFade{
	from { opacity:0; } to { opacity:1; }

}
@-moz-keyframes sliderFade{
	from { opacity:0; } to { opacity:1; } 
}
@keyframes sliderFade { 
		from { opacity:0; } to { opacity:1; } 
}

//animation for about bubbles
@-webkit-keyframes smallWorkFade{
	from { opacity:0; } to { opacity:1; } 
}
@-moz-keyframes smallWorkFade{
	from { opacity:0; } to { opacity:1; } 
}
@keyframes smallWorkFade { 
		from { opacity:0; } to { opacity:1; } 
}

.smallWorkAnimation{
	opacity:0;
	-webkit-animation:smallWorkFade ease-in 1;
	-moz-animation:smallWorkFade ease-in 1;
	animation:smallWorkFade ease-in 1;

	-webkit-animation-duration:.25s;
	-moz-animation-duration:.25s;
	animation-duration:.25s;

	-webkit-animation-fill-mode:forwards;  
    -moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;

	-webkit-animation-delay:1s;
	-moz-animation-delay:1s;
	animation-delay:1s;
}

@-webkit-keyframes medWorkFade{
	from { opacity:0; } to { opacity:1; } 
}
@-moz-keyframes medWorkFade{
	from { opacity:0; } to { opacity:1; } 
}
@keyframes medWorkFade { 
		from { opacity:0; } to { opacity:1; } 
}

.medWorkAnimation{
	opacity:0;
	-webkit-animation:medWorkFade ease-in 1;
	-moz-animation:medWorkFade ease-in 1;
	animation:medWorkFade ease-in 1;

	-webkit-animation-duration:.25s;
	-moz-animation-duration:.25s;
	animation-duration:.25s;

	-webkit-animation-fill-mode:forwards;  
    -moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;

	-webkit-animation-delay:1.25s;
	-moz-animation-delat:1.25s;
	animation-delay:1.25s;
}

@-webkit-keyframes lgWorkFade{
	from { opacity:0; } to { opacity:1; }

}
@-moz-keyframes lgWorkFade{
	from { opacity:0; } to { opacity:1; } 
}
@keyframes lgWorkFade { 
		from { opacity:0; } to { opacity:1; } 
}

.workBubbleAnimation{
	opacity:0;
	-webkit-animation:lgWorkFade ease-in 1;
	-moz-animation:lgWorkFade ease-in 1;
	animation:lgWorkFade ease-in 1;

	-webkit-animation-duration:.5s;
	-moz-animation-duration:.5s;
	animation-duration:.5s;

	-webkit-animation-fill-mode:forwards;  
    -moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;

	-webkit-animation-delay:1.5s;
	-moz-animation-delay:1.5s;
	animation-delay:1.5s;
}