#work .work{
	opacity:0;
	margin-top:130px;
	// background-color:darken($lightgray, 5);
}

h1.workIntro{
	color:$mainpurple;
	// text-align:center;
	font-family:$fontOne;
	font-size:35px;
	margin-top:44px;	
	// padding:20px;
}

li img.park,.marvel,.tee,.bob{
	width:545px;
	//border:2px solid $mainpurple;
	//border-radius: 6px;
}

p.parkalotInfo{
	font-size:18px;
	font-family:$fontOne;
	color:$bubblegray;
	margin-left:34px;
	margin-right:34px;
}

li.parkalotSkills{
	display:inline-block;
	h5{
		font-family:$fontOne;
		font-size: 20px;
		color:$mainpurple;
		border:4px solid $bubblegray;
		border-radius:22px;
		padding:8px;
	}

}

h2.appAbout, .appUsed, .viewApp{
	font-size:30px;
	font-family:$fontOne;
	color:$mainpurple;
	text-align:left;
}

a.appLink {
	font-family:$fontOne;
	color:$bubblegray;
	font-size:20px;
	text-decoration:none;
	// h6:hover{
	// 	font-size:20px;
	// 	color:rgba(106,44,180,1);
	// 		transition:color 800ms ease;
	// }
}

p.marvelInfo{
	font-size:18px;
	font-family:$fontOne;
	color:$bubblegray;
	margin-left:34px;
	margin-right:34px;
}

li.marvelSkills{
	display:inline-block;
	h5{
		font-family:$fontOne;
		font-size: 20px;
		color:$mainpurple;
		border:4px solid $bubblegray;
		border-radius:22px;
		padding:8px;
	}

}
.arrowAbout li{
	display:inline-block;
}

.arrowUsed li {
	display:inline-block;
}
// //animation for blob
// .meWorkFadeAnimation{
// 	opacity:0;
// 	-webkit-animation:popIn ease-in 1;
// 	-moz-animation:popIn ease-in 1;
// 	animation:popIn ease-in 1;

// 	-webkit-animation-duration:2s;
// 	-moz-animation-duration:2s;
// 	animation-duration:2s;

// 	-webkit-animation-fill-mode:forwards;  
//     -moz-animation-fill-mode:forwards;
// 	animation-fill-mode:forwards;
// }
// .meWorkAnimation{
// 	-webkit-animation-name:slideUp;
// 	-moz-animation-name:slideUp;
// 	animation-name:slideUp;

// 	-webkit-animation-duration:6s;
// 	-moz-animation-duration:6s;
// 	animation-duration:6s;

// 	-webkit-animation-timing-function:linear;
// 	-moz-animation-timing-function:linear;
// 	animation-timing-function:linear;

// 	-webkit-animation-iteration-count:1;
// 	-moz-animation-iteration-count:1;
// 	animation-iteration-count:1;

// 	-webkit-animation-delay:2s;
// 	-moz-animation-delay:2s;
// 	animation-delay:2s;

// 	-webkit-animation-fill-mode:forwards;  
//     -moz-animation-fill-mode:forwards;
// 	animation-fill-mode:forwards;
// }

// @-webkit-keyframes popIn{
// 	from { opacity:0; } to { opacity:1; } 
// }

// @-moz-keyframes popIn{
// 	from { opacity:0; } to { opacity:1; } 
// }

// @keyframes popIn { 
// 		from { opacity:0; } to { opacity:1; } 
// }

// @-webkit-keyframes slideUp {
// 	0% {
// 		margin-top:296px;
// 		opacity:0;
// 	}
// 	25% {
// 		margin-top:222px;
// 		opacity:0;
// 	}
// 	50% {
// 		margin-top:148px;
// 		opacity:0;
// 	}
// 	75% {
// 		margin-top:74px;
// 		opacity:0;
// 	}
// 	100% {
// 		margin-left:0px;
// 		opacity:1;
// 	}
// }

// @-moz-keyframes slideUp {
// 	0% {
// 		margin-top:296px;
// 		opacity:0;
// 	}
// 	25% {
// 		margin-top:222px;
// 		opacity:0;
// 	}
// 	50% {
// 		margin-top:148px;
// 		opacity:0;
// 	}
// 	75% {
// 		margin-top:74px;
// 		opacity:0;
// 	}
// 	100% {
// 		margin-left:0px;
// 		opacity: 1;
// 	}
// }

// @keyframes slideUp {
// 	0% {
// 		margin-top:226px;
// 		opacity:0;
// 	}
// 	25% {
// 		margin-top:169px;
// 		opacity:0;
// 	}
// 	50% {
// 		margin-top:112px;
// 		opacity:0;
// 	}
// 	75% {
// 		margin-top:56px;
// 		opacity:0;
// 	}
// 	100% {
// 		margin-left:0px;
// 		opacity:1
// 	}
// }

//animation for about bubbles
@-webkit-keyframes smallWorkFade{
	from { opacity:0; } to { opacity:1; } 
}
@-moz-keyframes smallWorkFade{
	from { opacity:0; } to { opacity:1; } 
}
@keyframes smallWorkFade { 
		from { opacity:0; } to { opacity:1; } 
}

.smallWorkAnimation{
	opacity:0;
	-webkit-animation:smallWorkFade ease-in 1;
	-moz-animation:smallWorkFade ease-in 1;
	animation:smallWorkFade ease-in 1;

	-webkit-animation-duration:.25s;
	-moz-animation-duration:.25s;
	animation-duration:.25s;

	-webkit-animation-fill-mode:forwards;  
    -moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;

	-webkit-animation-delay:2s;
	-moz-animation-delay:2s;
	animation-delay:2s;
}

@-webkit-keyframes medWorkFade{
	from { opacity:0; } to { opacity:1; } 
}
@-moz-keyframes medWorkFade{
	from { opacity:0; } to { opacity:1; } 
}
@keyframes medWorkFade { 
		from { opacity:0; } to { opacity:1; } 
}

.medWorkAnimation{
	opacity:0;
	-webkit-animation:medWorkFade ease-in 1;
	-moz-animation:medWorkFade ease-in 1;
	animation:medWorkFade ease-in 1;

	-webkit-animation-duration:.5s;
	-moz-animation-duration:.5s;
	animation-duration:.5s;

	-webkit-animation-fill-mode:forwards;  
    -moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;

	-webkit-animation-delay:3s;
	-moz-animation-delat:3s;
	animation-delay:3s;
}

@-webkit-keyframes lgWorkFade{
	from { opacity:0; } to { opacity:1; }

}
@-moz-keyframes lgWorkFade{
	from { opacity:0; } to { opacity:1; } 
}
@keyframes lgWorkFade { 
		from { opacity:0; } to { opacity:1; } 
}

.workBubbleAnimation{
	opacity:0;
	-webkit-animation:lgWorkFade ease-in 1;
	-moz-animation:lgWorkFade ease-in 1;
	animation:lgWorkFade ease-in 1;

	-webkit-animation-duration:1s;
	-moz-animation-duration:1s;
	animation-duration:1s;

	-webkit-animation-fill-mode:forwards;  
    -moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;

	-webkit-animation-delay:4s;
	-moz-animation-delay:4s;
	animation-delay:4s;
}