$accentColor:#BE80FF;
$mainpurple: #6A2CB4;
$lightgray: #F2F4F7;
$fontOne:'Shadows Into Light', cursive;
$bubblegray:#666666;
$fontTwo:'Bubbler One', sans-serif;

@import 'nav';
@import 'work';
@import 'about';
@import 'contact';
@import 'thoughtBubbles';
@import 'images';


body {
	background-color:$lightgray;
	overflow-x: hidden;

}

h1.helloIntro {
	color:$mainpurple;
	font-family:$fontOne;
	font-size:33px;
	margin-top:11px;		
}

h2{
	text-align:center;
}

section#intro{
	height:874px;
	background-image:url("../images/circles.png");
	background-position:bottom;
	
}

.container-fluid{
	padding:0;
}

//moving little blob across screen and fadding in and out
.leftRight{
	opacity:0;
	-webkit-animation:fadeIn ease-in 1;
	-moz-animation:fadeIn ease-in 1;
	animation:fadeIn ease-in 1;

	-webkit-animation-duration:.5s;
	-moz-animation-duration:.5s;
	animation-duration:.5s;

	-webkit-animation-fill-mode:forwards;  
    -moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;
}

#meHello{
	-webkit-animation-name:slide;
	-moz-animation-name:slide;
	animation-name:slide;

	-webkit-animation-duration:2.25s;
	-moz-animation-duration:2.25s;
	animation-duration:2.25s;

	-webkit-animation-timing-function:linear;
	-moz-animation-timing-function:linear;
	animation-timing-function:linear;

	-webkit-animation-delay:.75s;
	-moz-animation-delay:.75s;
	animation-delay:.75s;

	-webkit-animation-iteration-count:1;
	-moz-animation-iteration-count:1;
	animation-iteration-count:1;

	-webkit-animation-fill-mode:forwards;  
    -moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;
	}

#meHelloTwo{
	opacity:0;
	-webkit-animation:fadeIn ease-in 1;
	-moz-animation:fadeIn ease-in 1;
	animation:fadeIn ease-in 1;

	-webkit-animation-duration:.5s;
	-moz-animation-duration:.5s;
	animation-duration:.5s;

	-webkit-animation-delay:3s;
	-moz-animation-delay:3s;
	animation-delay:3s;

	-webkit-animation-fill-mode:forwards;  
    -moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;
}

@-webkit-keyframes fadeIn{
	from { opacity:0; } to { opacity:1; } 
}

@-moz-keyframes fadeIn{
	from { opacity:0; } to { opacity:1; } 
}

@keyframes fadeIn { 
		from { opacity:0; } to { opacity:1; } 
}

@-webkit-keyframes slide {
	0% {
		margin-left:30px;
		opacity:1;
	}
	25% {
		margin-left:250px;
		opacity:1;
	}
	50% {
		margin-left:500px;
		opacity:1;
	}
	75% {
		margin-left: 750px;

	}
	100% {
		margin-left:1000px;
		opacity:0;
	}
}

@-moz-keyframes slide {
	0% {
		margin-left:30px;
		opacity:1;
	}
	25% {
		margin-left:250px;
		opacity:1;
	}
	50% {
		margin-left:500px;
		opacity:1;
	}
	75% {
		margin-left: 750px;

	}
	100% {
		margin-left:1000px;
		opacity:0;
	}
}

@keyframes slide {
	0% {
		margin-left:30px;
		opacity:1;
	}
	25% {
		margin-left:250px;
		opacity:1;
	}
	50% {
		margin-left:500px;
		opacity:1;
	}
	75% {
		margin-left: 750px;

	}
	100% {
		margin-left:1000px;
		opacity:0;
	}
}

//animation for thought bubbles to appear
@-webkit-keyframes smallBubbleFade{
	from { opacity:0; } to { opacity:1; } 
}
@-moz-keyframes smallBubbleFade{
	from { opacity:0; } to { opacity:1; } 
}
@keyframes smallBubbleFade { 
		from { opacity:0; } to { opacity:1; } 
}
.smallHello{
	opacity:0;
	-webkit-animation:smallBubbleFade ease-in 1;
	-moz-animation:smallBubbleFade ease-in 1;
	animation:smallBubbleFade ease-in 1;

	-webkit-animation-duration:.25s;
	-moz-animation-duration:.25s;
	animation-duration:.25s;

	-webkit-animation-fill-mode:forwards;  
    -moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;

	-webkit-animation-delay:3.25s;
	-moz-animation-delay:3.25s;
	animation-delay:3.25s;
}

@-webkit-keyframes medBubbleFade{
	from { opacity:0; } to { opacity:1; } 
}
@-moz-keyframes medBubbleFade{
	from { opacity:0; } to { opacity:1; } 
}
@keyframes medBubbleFade { 
		from { opacity:0; } to { opacity:1; } 
}

.medHello{
	opacity:0;
	-webkit-animation:medBubbleFade ease-in 1;
	-moz-animation:medBubbleFade ease-in 1;
	animation:medBubbleFade ease-in 1;

	-webkit-animation-duration:.5s;
	-moz-animation-duration:.5s;
	animation-duration:.5s;

	-webkit-animation-fill-mode:forwards;  
    -moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;

	-webkit-animation-delay:3.5s;
	-moz-animation-delat:3.5s;
	animation-delay:3.5s;
}

@-webkit-keyframes lgBubbleFade{
	from { opacity:0; } to { opacity:1; }

}
@-moz-keyframes lgBubbleFade{
	from { opacity:0; } to { opacity:1; } 
}
@keyframes lgBubbleFade { 
		from { opacity:0; } to { opacity:1; } 
}
.helloBubble{
	opacity:0;
	-webkit-animation:lgBubbleFade ease-in 1;
	-moz-animation:lgBubbleFade ease-in 1;
	animation:lgBubbleFade ease-in 1;

	-webkit-animation-duration:.5s;
	-moz-animation-duration:.5s;
	animation-duration:.5s;

	-webkit-animation-fill-mode:forwards;  
    -moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;

	-webkit-animation-delay:3.75s;
	-moz-animation-delay:3.75s;
	animation-delay:3.75s;
}

@-webkit-keyframes slideLeft {
	0% {
		float:right;
		
		opacity:1;
	}

	100% {
		margin:0 auto;
		margin-right:43%;
		opacity:1;
	}
}

@-moz-keyframes slideLeft {
	0% {
		float:right;
		opacity:1;
	}
	
	100% {
		margin-right:43%;
		margin:0 auto;
		opacity:1;
	}
}

@keyframes slideLeft {
	0% {
		float:right;
		opacity:1;
	}
	
	100% {
		margin:0 auto;
		margin-right:43%;
		opacity:1;
	}
}


//media queries
@media screen and(max-width:1280px){
	// .unslider {
	// 	width: 1094px !important;
	// }
	p.appInfo {
		font-size:15px;
	}
}

@media screen and(max-width:980px){
	.smallHello{
		margin-left:37%;
	}
	.medHello{
		margin-left: 33%;
	}
	img#me{
		margin-right:188px !important;
	}
	.workBubble{
		margin-right:11%;
	}
	.medWork{
		margin-left:64%;
	}
	.smallWork{
		margin-left: 59%;
	}
	img.tee{
		width:358px;
	}
	img.park, .marvel, .bob{
		width:349px;	
	}
	.unslider-arrow{
		margin-left: 58px !important;
	}
	.unslider-arrow.next{
		margin-right: 51px !important;
	}
	.appLink h6{
		font-size: 16px;
	}
	li.appSkills h5{
		font-size: 14px;
	}
}

@media screen and(max-width:800px){
	.contactBubble{
		margin-left: 285px;
	}
	.medAbout{
		margin-left: 27%;
	}
	.smallAbout{
		margin-left: 38%;
	}
	img#meHelloTwo {
		margin-left: 43%;
	}
	img#meWorkTwo {
		margin-left: 309px;
	}
	.medWork {
		margin-left: 58%;
	}
	.smallWork{
		margin-left: 55%;
	}
	img.park, .marvel, .bob{
		width:255px;
	}
	img.tee {
    width: 260px;
	}
	img.view{
		width: 25px;
	}
	h2.appAbout, .appUsed, .viewApp{
		font-size: 21px;
	}
	.appLink h6 {
		font-size: 13px;
	}
	img.usedOne{
		width: 30px;
	}
	section#work{
		height: 1096px;
	}
	.unslider-arrow.next{
		 right: -4px !important;
	}
	.appLink h6 {
    font-size: 15px;
	}
	img.aboutOne {
		width: 49px
	}
}

@media screen and(max-width:768px){
	img#meWorkTwo {
    margin-left: 294px;
	}
}

@media screen and(max-width:360px){
	h1.helloIntro{
		font-size: 24px;
    	margin-top: 25px;
	}
	.helloBubble{
		width: 341px;
	}
	.medHello {
    	margin-left: 17%;
    	margin-top: -62px;
	}
	.smallHello {
    	margin-left: 29%;
    	margin-top: -3px;
	}
	.medWork{
		margin-top: 224px;
	}
	.smallWork{
		margin-top: 263px;
	}
	img#meWorkTwo{
		margin:0 auto;
		display:block;
		margin-top: -271px;
	}
	.unslider{
		display:none;
	}
	.aboutBubble{
		height: 340px;
		margin-left: 22px;
		width: 316px;
	}
	h1.aboutIntro{
		 font-size: 17px;
	}
	.medAbout{
		width: 91px;
		height: 91px;
		margin-left: 18%;
	}
	.smallAbout {
    	margin-left: 26%;
    	margin-top: 9px;
	}
	img#me{
		width: 225px;
		margin-right: 49px !important;
	}
	.contactBubble {
    	margin-left: 40px;
	}
	.medContact{
		margin-left: 24%;
	}
	.smallContact{
		margin-left: 32%;
	}
	img#meContact{
		margin-right: 35% !important;
	}
}